In [1]:
import pandas as pd
from io import StringIO
import requests
from sas7bdat import *

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import databases
import psycopg2 as psy

import numpy as np

In [46]:
df2 = pd.ExcelFile("../../assets/capstone-assets/CCRPI/2012 Content Mastery By Subgroups for Public Release.xls")

In [47]:
df2.sheet_names

[u'Appling - Glynn',
 u'Glynn - Carrollton City',
 u'Carrollton City - State Schools']

In [48]:
counties1 = df2.parse('Appling - Glynn')

In [49]:
counties2 = df2.parse('Glynn - Carrollton City')
counties3 = df2.parse('Carrollton City - State Schools')

In [50]:
contentMastery12 = pd.concat([counties1, counties2], axis=0)

In [51]:
contentMastery12.reset_index(inplace=True)

In [52]:
contentMastery12 = pd.concat([contentMastery12, counties3], axis=0)

In [53]:
contentMastery12.reset_index(inplace=True)

In [54]:
#drop columns I won't use in this dataframe
contentMastery12.drop(['level_0', 'index'], axis=1, inplace=True)

In [55]:
contentMastery12.columns

Index([u'ASSESSMENT SUBJECT', u'ASSESSMENT TYPE', u'GRADE CLUSTER',
       u'MEETS & EXCEEDS RATE', u'PARTICIPATION RATE', u'REPORTING CATEGORY',
       u'SCHOOL ID', u'SCHOOL NAME', u'SCHOOL YEAR', u'SYSTEM ID',
       u'SYSTEM NAME'],
      dtype='object')

In [56]:
#I also want them in a certain order to make the dataframe more readable
contentMastery12 = contentMastery12[['SCHOOL YEAR','SYSTEM ID','SYSTEM NAME','SCHOOL ID','SCHOOL NAME',
                'GRADE CLUSTER', 'REPORTING CATEGORY', 'ASSESSMENT TYPE', 'ASSESSMENT SUBJECT',
                'PARTICIPATION RATE', 'MEETS & EXCEEDS RATE']]

In [57]:
#clean column names
contentMastery12.rename(columns={'SCHOOL YEAR'         : 'year',
                                 'SYSTEM ID'           : 'sysID',
                                 'SYSTEM NAME'         : 'sysName',
                                 'SCHOOL ID'           : 'schoolID',
                                 'SCHOOL NAME'         : 'schoolName',
                                 'GRADE CLUSTER'       : 'grd',
                                 'REPORTING CATEGORY'  : 'demCat',
                                 'ASSESSMENT TYPE'     : 'assessType',
                                 'ASSESSMENT SUBJECT'  : 'assessSub',
                                 'PARTICIPATION RATE'  : 'partRt',
                                 'MEETS & EXCEEDS RATE': 'MtExcdRt'}, inplace=True)

In [51]:
user = "postgres:GoOrange"
engine = sqlalchemy.create_engine('postgresql://{}{}'.format(user, '@localhost:5432/ccrpi'))
#contentMastery12.to_sql("2012contentMasterySubgroups", con=engine, if_exists = "replace")

In [59]:
df3 = pd.ExcelFile("../../assets/capstone-assets/CCRPI/2013 Content Mastery By Subgroups for Public Release.xls")

In [60]:
counties1 = df3.parse('Appling to Gordon')
counties2 = df3.parse('Gordon - Decatur City')
counties3 = df3.parse('Decatur City - State Schools')

In [61]:
contentMastery13 = pd.concat([counties1, counties2], axis=0)

In [62]:
contentMastery13.reset_index(inplace=True)

In [63]:
contentMastery13 = pd.concat([contentMastery13, counties3], axis=0)

In [64]:
contentMastery13.reset_index(inplace=True)

In [65]:
#drop columns I won't use in this dataframe
contentMastery13.drop(['level_0', 'index'], axis=1, inplace=True)

In [66]:
#I also want them in a certain order to make the dataframe more readable
contentMastery13 = contentMastery13[['SCHOOL YEAR','SYSTEM ID','SYSTEM NAME','SCHOOL ID','SCHOOL NAME',
                'GRADE CLUSTER', 'REPORTING CATEGORY', 'ASSESSMENT TYPE', 'ASSESSMENT SUBJECT',
                'PARTICIPATION RATE', 'MEETS & EXCEEDS RATE']]

In [67]:
#clean column names
contentMastery13.rename(columns={'SCHOOL YEAR'         : 'year',
                                 'SYSTEM ID'           : 'sysID',
                                 'SYSTEM NAME'         : 'sysName',
                                 'SCHOOL ID'           : 'schoolID',
                                 'SCHOOL NAME'         : 'schoolName',
                                 'GRADE CLUSTER'       : 'grd',
                                 'REPORTING CATEGORY'  : 'demCat',
                                 'ASSESSMENT TYPE'     : 'assessType',
                                 'ASSESSMENT SUBJECT'  : 'assessSub',
                                 'PARTICIPATION RATE'  : 'partRt',
                                 'MEETS & EXCEEDS RATE': 'MtExcdRt'}, inplace=True)

In [68]:
contentMastery13.to_sql("2013contentMasterySubgroups", con=engine, if_exists = "replace")

In [69]:
#2014 doesn't have separate sheets in a workbook, so no need for the parsing steps above.
#Just read it in to a single dataframe and skip to the cleaning step
contentMastery14 = pd.read_excel("../../assets/capstone-assets/CCRPI/2014 Content Mastery By Subgroup Ammended (2) for Web Page.xlsx")

In [70]:
#clean column names
contentMastery13.rename(columns={'School Year'         : 'year',
                                 'System ID'           : 'sysID',
                                 'System Name'         : 'sysName',
                                 'School ID'           : 'schoolID',
                                 'School Name'         : 'schoolName',
                                 'Grade Cluster'       : 'grd',
                                 'Reporting Category'  : 'demCat',
                                 'Assessment Type'     : 'assessType',
                                 'Assessment Subject'  : 'assessSub',
                                 'Participation Rate'  : 'partRt',
                                 'Meets Exceeds Rate': 'MtExcdRt'}, inplace=True)

In [71]:
contentMastery14.to_sql("2014contentMasterySubgroups", con=engine, if_exists = "replace")

In [72]:
#2015 goes back to multiple sheets, so back to the tedious clean
df4 = pd.ExcelFile("../../assets/capstone-assets/CCRPI/2015 Content Mastery By Subgroups 05.03.16.xlsx")

In [73]:
counties1 = df4.parse('Appling - Gordon')
counties2 = df4.parse('Gordon - Atlanta')
counties3 = df4.parse('Atlanta - RTC')

In [74]:
contentMastery15 = pd.concat([counties1, counties2], axis=0)

In [75]:
contentMastery15 = pd.concat([contentMastery15, counties3], axis=0)

In [76]:
contentMastery15.reset_index(inplace=True)

In [77]:
contentMastery15.columns

Index([             u'index',        u'School Year',          u'System Id',
              u'System Name',          u'School Id',        u'School Name',
            u'Grade Cluster', u'Reporting Category',    u'Assessment Type',
       u'Assessment Subject', u'Participation Rate',   u'Proficiency Rate'],
      dtype='object')

In [78]:
#drop columns I won't use in this dataframe
contentMastery15.drop(['index'], axis=1, inplace=True)

In [79]:
#I also want them in a certain order to make the dataframe more readable
contentMastery15 = contentMastery15[['School Year','System Id','System Name','School Id','School Name',
                'Grade Cluster', 'Reporting Category', 'Assessment Type', 'Assessment Subject',
                'Participation Rate', 'Proficiency Rate']]

In [80]:
#clean column names
contentMastery15.rename(columns={'School Year'         : 'year',
                                 'System Id'           : 'sysID',
                                 'System Name'         : 'sysName',
                                 'School Id'           : 'schoolID',
                                 'School Name'         : 'schoolName',
                                 'Grade Cluster'       : 'grd',
                                 'Reporting Category'  : 'demCat',
                                 'Assessment Type'     : 'assessType',
                                 'Assessment Subject'  : 'assessSub',
                                 'Participation Rate'  : 'partRt',
                                 'Proficiency Rate'    : 'MtExcdRt'}, inplace=True)

In [81]:
contentMastery15.to_sql("2015contentMasterySubgroups", con=engine, if_exists = "replace")

In [82]:
#Now let's pull in the indicator tables
indicators12 = pd.read_excel("../../assets/capstone-assets/CCRPI/2012 Indicator Rates for Public Release.xls")
indicators13 = pd.read_excel("../../assets/capstone-assets/CCRPI/2013 Indicator Rates for Public Release.xls")
indicators14 = pd.read_excel("../../assets/capstone-assets/CCRPI/2014 Indicator Score Ammended for Web Page.xlsx")
indicators15 = pd.read_excel("../../assets/capstone-assets/CCRPI/2015 CCRPI Indicator Score 07.14.16.xlsx")

In [83]:
# norm naming conventions across all dataframes
#clean column names
indicators12.rename(columns={'SCHOOL YEAR'                : 'year',
                             'SYSTEM ID'                  : 'sysID',
                             'SYSTEM NAME'                : 'sysName',
                             'SCHOOL ID'                  : 'schoolID',
                             'SCHOOL NAME'                : 'schoolName',
                             'INDICATOR ID'               : 'indID',
                             'GRADE CLUSTER'              : 'grd',
                             'INDICATOR DESCRIPTION'      : 'indDesc',
                             'PERFORMANCE RATE'           : 'perfRt',
                             'POINTS EARNED ON INDICATOR' : 'ptsFrmInd'}, inplace=True)

indicators13.rename(columns={'SCHOOL YEAR'                   : 'year',
                             'SYSTEM ID'                     : 'sysID',
                             'SYSTEM NAME'                   : 'sysName',
                             'SCHOOL ID'                     : 'schoolID',
                             'SCHOOL NAME'                   : 'schoolName',
                             'INDICATOR ID'                  : 'indID',
                             'GRADE CLUSTER DESCRIPTION'     : 'grd',
                             'PERFORMANCE INDEX DESCRIPTION' : 'indDesc',
                             'PERFORMANCE'                   : 'perfRt',
                             'POINTS EARNED ON INDICATOR'    : 'ptsFrmInd'}, inplace=True)

indicators14.rename(columns={'School Year'                       : 'year',
                             'System ID'                         : 'sysID',
                             'System Name'                       : 'sysName',
                             'School ID'                         : 'schoolID',
                             'School Name'                       : 'schoolName',
                             'Indicator ID'                      : 'indID',
                             'Grade Cluster '                    : 'grd',
                             'Performance Index Description'     : 'indDesc',
                             'Performance'                       : 'perfRt',
                             'Points Earned on Indicator'        : 'ptsFrmInd'}, inplace=True)

indicators15.rename(columns={'School Year'                       : 'year',
                             'System ID'                         : 'sysID',
                             'System Name'                       : 'sysName',
                             'School ID'                         : 'schoolID',
                             'School Name'                       : 'schoolName',
                             'Indicator ID'                      : 'indID',
                             'Grade Cluster '                    : 'grd',
                             'Performance Index Description'     : 'indDesc',
                             'Performance'                       : 'perfRt',
                             'Points Earned on Indicator'        : 'ptsFrmInd'}, inplace=True)

In [84]:
indicators12.to_sql("ccrpiIndicators12", con=engine, if_exists = "replace")
indicators13.to_sql("ccrpiIndicators13", con=engine, if_exists = "replace")
indicators14.to_sql("ccrpiIndicators14", con=engine, if_exists = "replace")
indicators15.to_sql("ccrpiIndicators15", con=engine, if_exists = "replace")

In [85]:
#Finally, repeat process for Component Score Tables
componentScores12 = pd.read_excel("../../assets/capstone-assets/CCRPI/2012 Scoring By Component for Public Release.xls")
componentScores13 = pd.read_excel("../../assets/capstone-assets/CCRPI/2013 Scoring By Component for Public Release v2.xls")
componentScores14 = pd.read_excel("../../assets/capstone-assets/CCRPI/2014 CCRPI Scoring by Component.03.10.2016.xls")
componentScores15 = pd.read_excel("../../assets/capstone-assets/CCRPI/2015 CCRPI Scoring By Component 07.14.16.xlsx")

In [86]:
componentScores12.rename(columns={'SCHOOL YEAR'                : 'year',
                                  'SYSTEM ID'                  : 'sysID',
                                  'SYSTEM NAME'                : 'sysName',
                                  'SCHOOL ID'                  : 'schoolID',
                                  'SCHOOL NAME'                : 'schoolName',
                                  'GRADE CLUSTER'              : 'grd',
                                  'ACHIEVEMENT POINTS'         : 'achvmntPts',
                                  'PROGRESS POINTS'            : 'prgPts',
                                  'ACHIEVEMENT GAP POINTS'     : 'achvmntGapPts',
                                  'ED/EL/SWD PERFORMANCE'      : 'disStdntPerf',
                                  'ETB POINTS'                 : 'etbPts',
                                  'CHALLENGE POINTS'           : 'chlngPts',
                                  'CCRPI SCORE'                : 'ccrpi',
                                  'SINGLE SCORE'               : 'singScore',}, inplace=True)

componentScores13.rename(columns={'SCHOOL YEAR'                : 'year',
                                  'SYSTEM ID'                  : 'sysID',
                                  'SYSTEM NAME'                : 'sysName',
                                  'SCHOOL ID'                  : 'schoolID',
                                  'SCHOOL NAME'                : 'schoolName',
                                  'GRADE CLUSTER'              : 'grd',
                                  'ACHIEVEMENT POINTS'         : 'achvmntPts',
                                  'PROGRESS POINTS'            : 'prgPts',
                                  'ACHIEVEMENT GAP POINTS'     : 'achvmntGapPts',
                                  'ED/EL/SWD PERFORMANCE'      : 'disStdntPerf',
                                  'ETB POINTS'                 : 'etbPts',
                                  'CHALLENGE POINTS'           : 'chlngPts',
                                  'CCRPI SCORE'                : 'ccrpi',
                                  'SINGLE SCORE'               : 'singScore',}, inplace=True)

componentScores14.rename(columns={'School Year'                : 'year',
                                  'System Id'                  : 'sysID',
                                  'System Name'                : 'sysName',
                                  'School Id'                  : 'schoolID',
                                  'School Name'                : 'schoolName',
                                  'Grade Configuration'        : 'grdConfig',
                                  'Grade Cluster'              : 'grd',
                                  'Achievement Points'         : 'achvmntPts',
                                  'Progress Points'            : 'prgPts',
                                  'Achievement Gap Points'     : 'achvmntGapPts',
                                  'ED/EL/SWD Performance'      : 'disStdntPerf',
                                  'ETB Points'                 : 'etbPts',
                                  'Challenge Points'           : 'chlngPts',
                                  'CCRPI Score'                : 'ccrpi',
                                  'Single Score'               : 'singScore',}, inplace=True)

componentScores15.rename(columns={'School Year'                : 'year',
                                  'System Id'                  : 'sysID',
                                  'System Name'                : 'sysName',
                                  'School Id'                  : 'schoolID',
                                  'School Name'                : 'schoolName',
                                  'Grade Configuration'        : 'grdConfig',
                                  'Grade Cluster'              : 'grd',
                                  'Achievement Points'         : 'achvmntPts',
                                  'Progress Points'            : 'prgPts',
                                  'Achievement Gap Points'     : 'achvmntGapPts',
                                  'ED/EL/SWD Performance'      : 'disStdntPerf',
                                  'ETB Points'                 : 'etbPts',
                                  'Challenge Points'           : 'chlngPts',
                                  'CCRPI Score'                : 'ccrpi',
                                  'Single Score'               : 'singScore',}, inplace=True)

In [87]:
componentScores12.to_sql("componentscores12", con=engine, if_exists = "replace")
componentScores13.to_sql("componentscores13", con=engine, if_exists = "replace")
componentScores14.to_sql("componentscores14", con=engine, if_exists = "replace")
componentScores15.to_sql("componentscores15", con=engine, if_exists = "replace")

In [89]:
url = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2015_Mar292016.csv'
a=requests.get(url).text

schoolExpenses15=pd.read_csv(StringIO(a), low_memory=False)

url2 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2014_Jan_15th_2015.csv'
b=requests.get(url2).text

schoolExpenses14=pd.read_csv(StringIO(b), low_memory=False)

url3 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2013_Jan_15th_2015.csv'
c=requests.get(url3).text

schoolExpenses13=pd.read_csv(StringIO(c), low_memory=False)

url4 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2012_Jan_15th_2015.csv'
d=requests.get(url4).text

schoolExpenses12=pd.read_csv(StringIO(d), low_memory=False)

In [90]:
schoolExpenses15.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent'}, inplace=True)

schoolExpenses14.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_Count'             : 'totStudents'}, inplace=True)

schoolExpenses13.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_Count'             : 'totStudents'}, inplace=True)

schoolExpenses12.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_COUNT'             : 'totStudents'}, inplace=True)

In [91]:
#drop columns I won't use in this dataframe
schoolExpenses12.drop(['revExp'], axis=1, inplace=True)
schoolExpenses13.drop(['revExp'], axis=1, inplace=True)
schoolExpenses14.drop(['revExp'], axis=1, inplace=True)
schoolExpenses15.drop(['revExp'], axis=1, inplace=True)

In [92]:
schoolExpenses12.to_sql("schoolExpenses12", con=engine, if_exists = "replace")
schoolExpenses13.to_sql("schoolExpenses13", con=engine, if_exists = "replace")
schoolExpenses14.to_sql("schoolExpenses14", con=engine, if_exists = "replace")
schoolExpenses15.to_sql("schoolexpenses15", con=engine, if_exists = "replace")

In [93]:
url5 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2015_Mar292016.csv'
e=requests.get(url5).text

distSals15=pd.read_csv(StringIO(e), low_memory=False)

url6 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2014_Jan_15th_2015.csv'
f=requests.get(url6).text

distSals14=pd.read_csv(StringIO(f), low_memory=False)

url7 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2013_Jan_15th_2015.csv'
g=requests.get(url7).text

distSals13=pd.read_csv(StringIO(g), low_memory=False)

url8 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2012_Jan_15th_2015.csv'
h=requests.get(url8).text

distSals12=pd.read_csv(StringIO(h), low_memory=False)

In [94]:
distSals12.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals13.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals14.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals15.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

In [96]:
#These are just by districts, so these would be good for some EDA, but not in building models
distSals15.to_sql("distsals15", con=engine, if_exists = "replace")
distSals14.to_sql("distSals14", con=engine, if_exists = "replace")
distSals13.to_sql("distSals13", con=engine, if_exists = "replace")
distSals12.to_sql("distSals12", con=engine, if_exists = "replace")

In [97]:
#Now get teacher/administrator experience levels
url9 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2015_Mar292016.csv'
i=requests.get(url9).text

staffExp15=pd.read_csv(StringIO(i), low_memory=False)

url10 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2014_Jan_15th_2015.csv'
j=requests.get(url10).text

staffExp14=pd.read_csv(StringIO(j), low_memory=False)

url11 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2013_Jan_15th_2015.csv'
k=requests.get(url11).text

staffExp13=pd.read_csv(StringIO(k), low_memory=False)

url12 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2012_Jan_15th_2015.csv'
l=requests.get(url12).text

staffExp=pd.read_csv(StringIO(l), low_memory=False)

In [98]:
staffExp12 = staffExp

In [99]:
staffExp15.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp14.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp13.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp12.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

In [100]:
staffExp12.to_sql("staffExp12", con=engine, if_exists = "replace")
staffExp13.to_sql("staffExp13", con=engine, if_exists = "replace")
staffExp14.to_sql("staffExp14", con=engine, if_exists = "replace")
staffExp15.to_sql("staffExp15", con=engine, if_exists = "replace")

In [101]:
#Read in excel on school discipline for 2015
schoolDisc15 = pd.read_excel("../../assets/capstone-assets/CCRPI/sr2015_discipline_action_counts_sch.xls")

In [102]:
schoolDisc15.columns = [x.lower() for x in schoolDisc15.columns]

In [103]:
schoolDisc15['busSusp'] = schoolDisc15['bus_susp_10_or_fewer_days'] + schoolDisc15['bus_susp_over_10_days']

schoolDisc15['explsn'] = schoolDisc15['permanent_expulsion'] + schoolDisc15['non_permanent_expulsion']

In [104]:
schoolDisc15.rename(columns={'school_year'                    : 'year',
                             'system_id'                      : 'sysID',
                             'system_name'                    : 'sysName', 
                             'school_id'                      : 'schoolID',
                             'school_name'                    : 'schoolName',
                             'physical_restraint'             : 'physRest',
                             'assigned_to_alternative_school' : 'altSchl',
                             'detention'                      : 'dtntn',
                             'corporal_punishment'            : 'crprlPun',
                             'in_school_suspension'           : 'iss',
                             'out_of_school_suspension'       : 'oss'}, inplace=True)

In [105]:
schoolDisc15.drop(['permanent_expulsion','juvenile_or_court_referral','bus_susp_10_or_fewer_days',
                  'bus_susp_over_10_days','returned_to_class_review_panel','returned_to_class_admin',
                  'alt_setting_review_panel','alt_setting_admin','non_permanent_expulsion'], axis=1, inplace=True)

In [107]:
schoolDisc15.to_sql("schooldisc15", con=engine, if_exists = "replace")

In [108]:
#Now repeat for discipline incidents
schoolIncidents15 = pd.read_excel("../../assets/capstone-assets/CCRPI/sr2015_discipline_incident_counts_sch.xls")

In [109]:
schoolIncidents15.columns = [x.lower() for x in schoolIncidents15.columns]

In [110]:
#Drop any columns with vague or undefined titles or ones that aren't interesting

schoolIncidents15.drop(['other_dress_code', 'other_student_incivility',
                       'repeated_offenses','other_non_discipline_incident',
                       'other_discipline_incident','other_possess_unapproved_item',
                       'other_attendance_related','academic_dishonesty','computer_trespass'], axis=1, inplace=True)

In [111]:
schoolIncidents15['sexRelated'] = schoolIncidents15['sexual_battery'] + schoolIncidents15['sexual_harassment'] \
+ schoolIncidents15['sex_offenses']

schoolIncidents15['drugAlc'] = schoolIncidents15['alcohol'] + schoolIncidents15['tobacco'] \
+ schoolIncidents15['drugs_not_alcohol']

schoolIncidents15['weapons'] = schoolIncidents15['weapon_knife'] + schoolIncidents15['weapon_rifle'] \
+ schoolIncidents15['weapon_handgun'] + schoolIncidents15['weapon_other'] + schoolIncidents15['weapon_other_firearm']

schoolIncidents15['thftRbry'] = schoolIncidents15['larceny_theft'] + schoolIncidents15['motor_vehicle_theft'] \
+ schoolIncidents15['burglary'] + schoolIncidents15['robbery']

schoolIncidents15['violence'] = schoolIncidents15['battery'] + schoolIncidents15['fighting'] \
+ schoolIncidents15['threat_intimidation'] + schoolIncidents15['serious_bodily_injury']

In [112]:
#Now drop individual sex related ones, as we don't need them here
schoolIncidents15.drop(['sexual_battery','sexual_harassment','sex_offenses',
                        'alcohol','tobacco','drugs_not_alcohol','weapon_knife',
                        'weapon_rifle','weapon_handgun', 'weapon_other','weapon_other_firearm',
                        'burglary', 'robbery','larceny_theft', 'motor_vehicle_theft',
                        'battery', 'threat_intimidation','fighting','kidnapping','trespassing','vandalism',
                        'serious_bodily_injury', 'arson'], axis=1, inplace=True)

In [113]:
schoolIncidents15.rename(columns={'school_year'        : 'year',
                                  'system_id'          : 'sysID',
                                  'system_name'        : 'sysName',
                                  'school_id'          : 'schoolID',
                                  'school_name'        : 'schoolName', 
                                  'bullying'           : 'bully',
                                  'disorderly_conduct' : 'disCond',
                                  'gang_related'       : 'gngRel',
                                  'homicide'           : 'hom',}, inplace=True)

In [115]:
schoolIncidents15.to_sql("schoolincidents15", con=engine, if_exists = "replace")

In [116]:
attendStats15 = pd.read_excel("../../assets/capstone-assets/CCRPI/2015AttendanceStats.xlsx")
mobilRate15 = pd.read_excel("../../assets/capstone-assets/CCRPI/2015StudentMobilityRate.xls")

In [118]:
attendStats15.to_sql("attendstats15", con=engine, if_exists = "replace")
mobilRate15.to_sql("mobilrate15", con=engine, if_exists = "replace")

In [119]:
componentScores15 = componentScores15[componentScores15.schoolID != 'ALL']

componentScores15.shape

(2471, 15)

In [120]:
schoolExpenses15 = schoolExpenses15[schoolExpenses15.schoolID != 'ALL']
schoolExpenses15.drop(['revExpVal'], axis=1, inplace=True)

In [121]:
schoolExpenses15 = schoolExpenses15[schoolExpenses15.descr == 'Instruction']

In [122]:
schoolExpenses15.drop(['year'], axis=1, inplace=True)

In [123]:
test = pd.merge(schoolExpenses15, componentScores15, how='left', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [124]:
locs = pd.read_csv('../../assets/capstone-assets/CCRPI/schoolLocs.csv')

In [125]:
locs['schoolName'] = locs['schoolName'].apply(lambda x: x.title())
locs['sysName'] = locs['sysName'].apply(lambda x: x.title())
locs['city'] = locs['city'].apply(lambda x: x.title())
locs['street'] = locs['street'].apply(lambda x: x.title())
locs['county'] = locs['county'].apply(lambda x: x.title())

In [126]:
locs.to_sql("schoollocs", con=engine, if_exists = "replace")
componentScores15.to_sql("componentscores15", con=engine, if_exists = "replace")
schoolExpenses15.to_sql("schoolexpenses15", con=engine, if_exists = "replace")

In [2]:
% load_ext sql

/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%sql postgresql://postgres:GoOrange@localhost:5432/ccrpi

u'Connected: postgres@ccrpi'

In [4]:
a = %sql SELECT * from componentscores15;
b = %sql SELECT * from schoolexpenses15;
c = %sql SELECT * from schoollocs;

2471 rows affected.
2258 rows affected.
2372 rows affected.

In [5]:
a = a.DataFrame()
b = b.DataFrame()
c = c.DataFrame()

In [6]:
a.drop(['index'], axis=1, inplace=True)
b.drop(['index'], axis=1, inplace=True)
c.drop(['index'], axis=1, inplace=True)

In [7]:
c = c[['sysID', 'sysName', 'schoolID', 'schoolName', 'county', 'street',
       'city', 'state', 'zip', 'locClass', 'chrtr', 'titleI',
       'stdTchRatio', 'freeLnch', 'reducedLnch']]

In [8]:
test = pd.merge(a, b, how='left', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [9]:
test['sysID'] = test['sysID'].astype(int)
test['schoolID'] = test['schoolID'].astype(int)

In [10]:
test2 = pd.merge(test, c, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [11]:
d = %sql SELECT * from schoolexpenses15;
d = d.DataFrame()

2258 rows affected.

In [12]:
d.drop(['index'], axis=1, inplace=True)

In [13]:
d['sysID'] = d['sysID'].astype(int)
d['schoolID'] = d['schoolID'].astype(int)

In [14]:
test3 = pd.merge(test2, d, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [15]:
test3.drop(['descr_y', 'expPerStudent_y'], axis=1, inplace=True)

In [16]:
e = %sql SELECT * from schooldisc15;
e = e.DataFrame()
e.drop(['index'], axis=1, inplace=True)

2267 rows affected.

In [17]:
test4 = pd.merge(test3, e, how='inner', on=['year','sysID', 'sysName', 'schoolID', 'schoolName'])

In [18]:
f = %sql SELECT * from mobilrate15;
f = f.DataFrame()
f.drop(['index'], axis=1, inplace=True)

2265 rows affected.

In [19]:
test5 = pd.merge(test4, f, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])
test5.shape

(2037, 42)

In [20]:
g = %sql SELECT * from attendstats15;
g = g.DataFrame()
g.drop(['index'], axis=1, inplace=True)

2233 rows affected.

In [21]:
g = g[g.schoolID != 'ALL']
g['schoolID'] = g['schoolID'].astype(int)

In [22]:
test6 = pd.merge(test5, g, how='inner', on=['year','sysID', 'sysName', 'schoolID', 'schoolName'])

In [23]:
h = %sql SELECT * from schoolincidents15;
h = h.DataFrame()
h.drop(['index'], axis=1, inplace=True)

2267 rows affected.

In [24]:
test7 = pd.merge(test6, h, how='inner', on=['year','sysID', 'sysName', 'schoolID', 'schoolName'])

In [25]:
# zip1 = pd.read_excel('../../assets/capstone-assets/CCRPI/zipCodeEdAttain.xls')
# zip2 = pd.read_excel('../../assets/capstone-assets/CCRPI/zipCodeFoodStamps.xls')
# zip3 = pd.read_excel('../../assets/capstone-assets/CCRPI/zipCodePovLevelsGA.xls')
# zip4 = pd.read_excel('../../assets/capstone-assets/CCRPI/zipCodeRace.xls')
# zip5 = pd.read_excel('../../assets/capstone-assets/CCRPI/zipCodeUnemploymentRate.xls')

In [26]:
# drop total columns - you only want the percentages
# zip1.drop(['totPop','hsDip','ged','hsDipGED','someColl','someCollOverYear','bachDeg','mstrDeg',
#            'profSchl','phD'], axis=1, inplace=True)
# zip1.head()

In [27]:
# zip2.drop(['totPop','hmsFdStmps'], axis=1, inplace=True)

In [28]:
# zip3.drop(['totalFams','totMarFams'], axis=1, inplace=True)
# zip3.head()

In [29]:
# zip4.drop(['totPop','whitePop','blckPop'], axis=1, inplace=True)

# zip4.head()

In [30]:
# zip5.drop(['Unnamed: 1'], axis=1, inplace=True)


# zip5.head()

In [31]:
# zip1.rename(columns={'Id2'     : 'zip'}, inplace=True)
# zip2.rename(columns={'zipCode' : 'zip'}, inplace=True)
# zip3.rename(columns={'zipCode' : 'zip'}, inplace=True)
# zip4.rename(columns={'zipCode' : 'zip'}, inplace=True)
# zip5.rename(columns={'zipCode' : 'zip'}, inplace=True)

In [32]:
# zips = pd.merge(zip1, zip2, how='inner', on='zip')

In [33]:
# zips = pd.merge(zips, zip3, how='inner', on='zip')

In [34]:
# zips = pd.merge(zips, zip4, how='inner', on='zip')

In [35]:
# zips = pd.merge(zips, zip5, how='inner', on='zip')

In [36]:
# zips.shape

In [37]:
# zips.drop(['pctFamsPov_y'], axis=1, inplace=True)

# zips.rename(columns={'pctFamsPov_x' : 'pctFamsPov'}, inplace=True)

# zips.head()

In [38]:
test7.rename(columns={'descr_x' : 'descr', 'expPerStudent_x' : 'expPerStudent'}, inplace=True)

In [39]:
test7.shape

(2008, 55)

In [40]:
# zips.shape

In [41]:
# test8 = pd.merge(test7, zips, how='inner', on='zip')

In [42]:
test8 = test7
test8.head(1)

,year,sysID,sysName,schoolID,schoolName,grdConfig,grd,achvmntPts,prgPts,achvmntGapPts,...,pctOverFiftn,bully,disCond,gngRel,hom,sexRelated,drugAlc,weapons,thftRbry,violence
0,2015,601,Appling County,103,Appling County High School,"09, 10, 11, 12",H,32.6,33.5,5.8,...,20.2,0,304,2,0,7,41,2,3,43

In [43]:
test8['grdConfig'] = test8['grdConfig'].astype(str)

In [44]:
#we don't need all of the indicator scores, since of course those are going to correlate to a high ccrpi score
#we want to isolate the ccrpi score and see how the student demos group them.
test8.drop(['achvmntPts','prgPts','achvmntGapPts','disStdntPerf','etbPts',
           'chlngPts','singScore'], axis=1, inplace=True)

In [45]:
tanfRate = pd.read_excel('../../assets/capstone-assets/CCRPI/pctSnapTanfHomeless.xls')

In [46]:
tanfRate.head(1)

,year,sysID,sysName,schoolID,schoolName,pctSnapTanfHmls
0,2015,601,Appling County,103,Appling County High School,30

In [47]:
test8 = pd.merge(test8, tanfRate, how='inner', on=['year','sysID','sysName','schoolID','schoolName'])

In [48]:
demos = pd.read_excel('../../assets/capstone-assets/CCRPI/2015SchoolDemos.xlsx')

In [49]:
demos = demos[demos.schoolID != 'ALL']

In [52]:
demos.to_sql("demos15", con=engine, if_exists = "replace")

In [53]:
test8 = pd.merge(test8, demos, how='inner', on=['schoolID','sysID','schoolName','sysName',])

In [54]:
#These columns are either redundant or don't lead us in the direction we're going
test8.drop(['fte_count','grdConfig'], axis=1, inplace=True)
test8.dtypes

year                         int64
sysID                        int64
sysName                     object
schoolID                     int64
schoolName                  object
grd                         object
ccrpi                      float64
descr                       object
expPerStudent              float64
county                      object
street                      object
city                        object
state                       object
zip                          int64
locClass                   float64
chrtr                       object
titleI                      object
stdTchRatio                float64
freeLnch                   float64
reducedLnch                float64
crprlPun                     int64
dtntn                        int64
iss                          int64
other_discipline_action      int64
oss                          int64
altSchl                      int64
physRest                     int64
busSusp                      int64
explsn                       int64
sch_enter_churn              int64
sch_exit_churn               int64
sch_churn                    int64
pctMobile                  float64
totStudnts                   int64
pctAbs5orLess              float64
pctAbsSix-Fiftn            float64
pctOverFiftn               float64
bully                        int64
disCond                      int64
gngRel                       int64
hom                          int64
sexRelated                   int64
drugAlc                      int64
weapons                      int64
thftRbry                     int64
violence                     int64
pctSnapTanfHmls              int64
pctAsian                     int64
pctNative                    int64
pctBlck                      int64
pctHisp                      int64
pctMulti                     int64
pctWhite                     int64
pctMigrant                   int64
pctSPED                    float64
pctESOL                    float64
pctAltProg                 float64
pctGiftd                   float64
dtype: object

In [55]:
test8.rename(columns={'pctBlck_y' : 'pctBlck', 'pctWhite_y' : 'pctWhite'}, inplace=True)

In [56]:
test8.drop(['sch_enter_churn','sch_churn','sch_exit_churn'], axis=1, inplace=True)
#test8['pctFamsPov'] = test8['pctFamsPov'].str.replace('-','')
#test8['pctFamsPov'] = test8['pctFamsPov'].str.replace('\n', '')

In [57]:
test8.shape

(2002, 55)

In [58]:
sals = %sql SELECT * from distsals15;
sals = sals.DataFrame()
sals.drop(['index'], axis=1, inplace=True)

627 rows affected.

In [59]:
sals.drop(['year','schoolID','schoolName','salaries','benefits',
          'pctRevGFTitleLot','pctRevK12','pctExpGFTitleLot',
          'pctExpK12'], axis=1, inplace=True)

In [60]:
sals.head()

  sysID          sysName                        jobClass    salBenSum
0   601   Appling County          General Administration    228661.83
1   601   Appling County           School Administration   1235759.96
2   601   Appling County  Teachers and Paraprofessionals  18817718.34
3   602  Atkinson County          General Administration    216645.64
4   602  Atkinson County           School Administration    808802.11

In [61]:
sals = sals[sals.sysID != 'ALL']

In [62]:
sals = sals[sals.jobClass == 'Teachers and Paraprofessionals']

In [63]:
sals['sysID'] = sals['sysID'].convert_objects(convert_numeric=True)
sals.dtypes

/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

sysID          int64
sysName       object
jobClass      object
salBenSum    float64
dtype: object

In [64]:
test8 = pd.merge(test8, sals, how='inner', on=['sysID','sysName'])

In [65]:
#test8['pctFamsPov'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
test8.drop(['jobClass'], axis=1, inplace=True)
test8.head()

,year,sysID,sysName,schoolID,schoolName,grd,ccrpi,descr,expPerStudent,county,...,pctBlck,pctHisp,pctMulti,pctWhite,pctMigrant,pctSPED,pctESOL,pctAltProg,pctGiftd,salBenSum
0,2015,601,Appling County,103,Appling County High School,H,73.6,Instruction,5721.49,Appling County,...,22,11,2,64,4,12.7,1.3,6.8,6.8,18817718.34
1,2015,601,Appling County,177,Appling County Elementary School,E,68.8,Instruction,4936.78,Appling County,...,29,19,4,47,7,12.8,8.7,0.0,2.0,18817718.34
2,2015,601,Appling County,195,Appling County Middle School,M,68.8,Instruction,5703.74,Appling County,...,22,12,4,62,4,11.2,1.4,2.2,7.0,18817718.34
3,2015,601,Appling County,277,Appling County Primary School,E,NaN,Instruction,6841.66,Appling County,...,30,22,3,45,9,13.4,19.2,0.0,0.3,18817718.34
4,2015,601,Appling County,1050,Altamaha Elementary School,E,72.3,Instruction,6076.04,Appling County,...,6,6,2,86,2,13.2,4.1,0.0,6.2,18817718.34

In [66]:
test8.columns

Index([                   u'year',                   u'sysID',
                       u'sysName',                u'schoolID',
                    u'schoolName',                     u'grd',
                         u'ccrpi',                   u'descr',
                 u'expPerStudent',                  u'county',
                        u'street',                    u'city',
                         u'state',                     u'zip',
                      u'locClass',                   u'chrtr',
                        u'titleI',             u'stdTchRatio',
                      u'freeLnch',             u'reducedLnch',
                      u'crprlPun',                   u'dtntn',
                           u'iss', u'other_discipline_action',
                           u'oss',                 u'altSchl',
                      u'physRest',                 u'busSusp',
                        u'explsn',               u'pctMobile',
                    u'totStudnts',           u'pctAbs5orLess',
               u'pctAbsSix-Fiftn',            u'pctOverFiftn',
                         u'bully',                 u'disCond',
                        u'gngRel',                     u'hom',
                    u'sexRelated',                 u'drugAlc',
                       u'weapons',                u'thftRbry',
                      u'violence',         u'pctSnapTanfHmls',
                      u'pctAsian',               u'pctNative',
                       u'pctBlck',                 u'pctHisp',
                      u'pctMulti',                u'pctWhite',
                    u'pctMigrant',                 u'pctSPED',
                       u'pctESOL',              u'pctAltProg',
                      u'pctGiftd',               u'salBenSum'],
      dtype='object')

In [67]:
test8.drop(['descr'], axis=1, inplace=True)

In [68]:
test8['pctDisc'] = (test8['crprlPun'] + test8['dtntn'] + test8['iss'] + \
test8['oss'] + test8['altSchl'] + test8['physRest'] + test8['busSusp'] + \
                   test8['explsn']) / test8['totStudnts']

In [69]:
test8['pctBehavrs'] = (test8['bully'] + test8['disCond'] + test8['gngRel'] + \
                      test8['hom'] + test8['sexRelated'] + test8['drugAlc'] + \
                      test8['weapons'] + test8['thftRbry'] + test8['violence'] \
                      ) / test8['totStudnts']

In [70]:
# Now that I think about it, including zip code data is misleading, since
# it assumes all schools serve kids from their zip code. not the case though
# Also, the percentages of TANF, SNAP, and homelessness are particular to
# the student population within the school, so it's a more accurate indicator
# of this anyways

# test8.drop(['pctHsDipGED', 'pctSomeColl', 'pctBachDeg', 'pctPostColl',
#            'pctHmsFdStmps','pctFdStmps'], axis=1, inplace=True)
# test8.columns

In [71]:
test8 = test8[['year','sysID','sysName','schoolID','schoolName',
                'grd', 'ccrpi', 'street', 'city', 'county', 'state',
                'zip', 'locClass', 'titleI', 'chrtr', 'totStudnts', 'crprlPun', 'dtntn',
               'iss', 'oss', 'altSchl', 'physRest', 'busSusp', 'explsn',
               'other_discipline_action', 'pctDisc', 'bully', 'disCond',
               'gngRel', 'hom', 'sexRelated', 'drugAlc', 'weapons', 'thftRbry',
               'violence', 'pctBehavrs', 'stdTchRatio', 'expPerStudent',
              'salBenSum', 'freeLnch', 'reducedLnch', 'pctMobile',
              'pctAbs5orLess', 'pctAbsSix-Fiftn', 'pctOverFiftn', 'pctSnapTanfHmls',
               'pctAsian', 'pctNative', 'pctBlck', 'pctHisp', 'pctMulti', 'pctWhite',
               'pctMigrant', 'pctSPED', 'pctESOL', 'pctAltProg', 'pctGiftd']]

In [72]:
test8 = test8[np.isfinite(test8['ccrpi'])]

In [73]:
test8.shape

(1883, 57)

In [74]:
#Read it to .csv and read it back in
test8.to_csv('../../assets/capstone-assets/CCRPI/master.csv')

In [75]:
# Data cleaning is over. For now.

# See EDA file for next steps

In [76]:
pd.set_option('display.max_columns', None)
test8.head(1)

,year,sysID,sysName,schoolID,schoolName,grd,ccrpi,street,city,county,state,zip,locClass,titleI,chrtr,totStudnts,crprlPun,dtntn,iss,oss,altSchl,physRest,busSusp,explsn,other_discipline_action,pctDisc,bully,disCond,gngRel,hom,sexRelated,drugAlc,weapons,thftRbry,violence,pctBehavrs,stdTchRatio,expPerStudent,salBenSum,freeLnch,reducedLnch,pctMobile,pctAbs5orLess,pctAbsSix-Fiftn,pctOverFiftn,pctSnapTanfHmls,pctAsian,pctNative,pctBlck,pctHisp,pctMulti,pctWhite,pctMigrant,pctSPED,pctESOL,pctAltProg,pctGiftd
0,2015,601,Appling County,103,Appling County High School,H,73.6,482 Blackshear Hwy,Baxley,Appling County,GA,31513,33.0,No,No,1063,0,0,349,90,10,0,8,0,103,0.429915,0,304,2,0,7,41,2,3,43,0.378175,16.4,5721.49,18817718.34,726.0,0.0,0.10668,41.6,38.2,20.2,30,1,0,22,11,2,64,4,12.7,1.3,6.8,6.8

In [77]:
scores12 = pd.read_excel('../../assets/capstone-assets/CCRPI/2012 Scoring By Component for Public Release.xls')
scores13 = pd.read_excel('../../assets/capstone-assets/CCRPI/2013 Scoring By Component for Public Release v2.xls')
scores14 = pd.read_excel('../../assets/capstone-assets/CCRPI/2014 CCRPI Scoring by Component.03.10.2016.xls')

In [78]:
scores12.columns = [x.lower() for x in scores12.columns]
scores13.columns = [x.lower() for x in scores13.columns]
scores14.columns = [x.lower() for x in scores14.columns]

In [79]:
scores12.drop(['school year','grade cluster','achievement points','progress points','achievement gap points',
              'ed/el/swd performance','etb points','challenge points','single score'], axis=1, inplace=True)
scores13.drop(['school year','grade cluster','achievement points','progress points','achievement gap points',
              'ed/el/swd performance','etb points','challenge points','single score'], axis=1, inplace=True)
scores14.drop(['school year','grade configuration','grade cluster','achievement points','progress points',
               'achievement gap points','ed/el/swd performance','etb points','challenge points','single score'],
              axis=1, inplace=True)

In [80]:
scores12.rename(columns={'system id'  : 'sysID',
                        'system name' : 'sysName',
                        'school id'   : 'schoolID',
                        'school name' : 'schoolName'}, inplace=True)

scores13.rename(columns={'system id'  : 'sysID',
                        'system name' : 'sysName',
                        'school id '   : 'schoolID',
                        'school name' : 'schoolName'}, inplace=True)

scores14.rename(columns={'system id'  : 'sysID',
                        'system name' : 'sysName',
                        'school id'   : 'schoolID',
                        'school name' : 'schoolName'}, inplace=True)

In [81]:
scores12['sysID'] = scores12['sysID'].convert_objects(convert_numeric=True)
scores12['schoolID'] = scores12['schoolID'].convert_objects(convert_numeric=True)

scores13['sysID'] = scores13['sysID'].convert_objects(convert_numeric=True)
scores13['schoolID'] = scores13['schoolID'].convert_objects(convert_numeric=True)

scores14['sysID'] = scores14['sysID'].convert_objects(convert_numeric=True)
scores14['schoolID'] = scores14['schoolID'].convert_objects(convert_numeric=True)

/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/michaelmainzer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [82]:
scores12.head(1)

   sysID         sysName  schoolID                  schoolName  2012ccrpi
0  601.0  Appling County     103.0  Appling County High School       73.4

In [83]:
test8.head(1)

,year,sysID,sysName,schoolID,schoolName,grd,ccrpi,street,city,county,state,zip,locClass,titleI,chrtr,totStudnts,crprlPun,dtntn,iss,oss,altSchl,physRest,busSusp,explsn,other_discipline_action,pctDisc,bully,disCond,gngRel,hom,sexRelated,drugAlc,weapons,thftRbry,violence,pctBehavrs,stdTchRatio,expPerStudent,salBenSum,freeLnch,reducedLnch,pctMobile,pctAbs5orLess,pctAbsSix-Fiftn,pctOverFiftn,pctSnapTanfHmls,pctAsian,pctNative,pctBlck,pctHisp,pctMulti,pctWhite,pctMigrant,pctSPED,pctESOL,pctAltProg,pctGiftd
0,2015,601,Appling County,103,Appling County High School,H,73.6,482 Blackshear Hwy,Baxley,Appling County,GA,31513,33.0,No,No,1063,0,0,349,90,10,0,8,0,103,0.429915,0,304,2,0,7,41,2,3,43,0.378175,16.4,5721.49,18817718.34,726.0,0.0,0.10668,41.6,38.2,20.2,30,1,0,22,11,2,64,4,12.7,1.3,6.8,6.8

In [84]:
test8 = pd.merge(test8, scores12, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [85]:
test8 = pd.merge(test8, scores13, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [86]:
test8 = pd.merge(test8, scores14, how='inner', on=['sysID', 'sysName', 'schoolID', 'schoolName'])

In [87]:
test8.head(1)

,year,sysID,sysName,schoolID,schoolName,grd,ccrpi,street,city,county,state,zip,locClass,titleI,chrtr,totStudnts,crprlPun,dtntn,iss,oss,altSchl,physRest,busSusp,explsn,other_discipline_action,pctDisc,bully,disCond,gngRel,hom,sexRelated,drugAlc,weapons,thftRbry,violence,pctBehavrs,stdTchRatio,expPerStudent,salBenSum,freeLnch,reducedLnch,pctMobile,pctAbs5orLess,pctAbsSix-Fiftn,pctOverFiftn,pctSnapTanfHmls,pctAsian,pctNative,pctBlck,pctHisp,pctMulti,pctWhite,pctMigrant,pctSPED,pctESOL,pctAltProg,pctGiftd,2012ccrpi,2013ccrpi,2014ccrpi
0,2015,601,Appling County,103,Appling County High School,H,73.6,482 Blackshear Hwy,Baxley,Appling County,GA,31513,33.0,No,No,1063,0,0,349,90,10,0,8,0,103,0.429915,0,304,2,0,7,41,2,3,43,0.378175,16.4,5721.49,18817718.34,726.0,0.0,0.10668,41.6,38.2,20.2,30,1,0,22,11,2,64,4,12.7,1.3,6.8,6.8,73.4,73.2,69.1

In [88]:
test8.to_csv('../../assets/capstone-assets/CCRPI/super.csv')

In [89]:
test8.shape

(3077, 60)