In [192]:
import pandas as pd
import numpy as np

In [193]:
def read_csv(path): return pd.read_csv( path, sep = ',' )

In [194]:
# This dataset is a list of student attributes in a school, Hair, Eye, Sex
# and the Freq, or the total number of students with those attributes

path = "../../assets/HairEyeColor.csv" # relative path
df = read_csv(path) # calls read_csv function given path

In [195]:
# What are the datatypes for the df?
df.dtypes

Unnamed: 0     int64
Hair          object
Eye           object
Sex           object
Freq           int64
dtype: object

In [196]:
# create a variable called columns that will have a list of all dataframe column names
#df.columns.values.tolist()

#list(df)

columns = list(df.columns.values)
columns

['Unnamed: 0', 'Hair', 'Eye', 'Sex', 'Freq']

In [197]:
# Drop the Column Named 'Unnamed: 0' from df
# Hint: If your column variable is a list, you can slice by index to access elements

#del df['Unnamed: 0']
df.drop(df.columns[[0]], axis=1, inplace=True)

In [198]:
# Show that the Column 'Unnamed: 0' has actually been removed

df.head()

    Hair    Eye   Sex  Freq
0  Black  Brown  Male    32
1  Brown  Brown  Male    53
2    Red  Brown  Male    10
3  Blond  Brown  Male     3
4  Black   Blue  Male    11

In [199]:
# Are there any null or empty values in df? 
df.isnull().any()

Hair    False
Eye     False
Sex     False
Freq    False
dtype: bool

In [200]:
# How many rows are in df? 
#df.info
df.shape

(32, 4)

In [201]:
# print the first 15 rows in df
df.head(15)

     Hair    Eye   Sex  Freq
0   Black  Brown  Male    32
1   Brown  Brown  Male    53
2     Red  Brown  Male    10
3   Blond  Brown  Male     3
4   Black   Blue  Male    11
5   Brown   Blue  Male    50
6     Red   Blue  Male    10
7   Blond   Blue  Male    30
8   Black  Hazel  Male    10
9   Brown  Hazel  Male    25
10    Red  Hazel  Male     7
11  Blond  Hazel  Male     5
12  Black  Green  Male     3
13  Brown  Green  Male    15
14    Red  Green  Male     7

In [202]:
# create a another dataframe called df1 that has the records of students with only black hair

# call this dataframe df1

#topTenOverTime = df1.loc[df1['Rank'] <= 10]
df1 = df.loc[df['Hair'] == 'Black']
df1

     Hair    Eye     Sex  Freq
0   Black  Brown    Male    32
4   Black   Blue    Male    11
8   Black  Hazel    Male    10
12  Black  Green    Male     3
16  Black  Brown  Female    36
20  Black   Blue  Female     9
24  Black  Hazel  Female     5
28  Black  Green  Female     2

In [203]:
# create a another dataframe called df2
# df2 should have have records of students with black hair and brown eyes
# HINT:, retransform df1!
df2 = df1.loc[df1['Eye'] == 'Brown']
df2
# How many students have black eyes and brown hair? 2
df2['Freq'].sum()
# HINT: Once you have df2, you can do a sum operation on any column of df2, including Freq

68

In [204]:
# create a another dataframe called df3
# df3 should have have records of male students with black hair and brown eyes
# HINT:, retransform df2!
df3 = df2.loc[df2['Sex'] == 'Male']
# How many blackhaired, brown eyed, male students are in the class? 
df3['Freq'].sum()

32

In [205]:
# create a another dataFrame called df4, that only filters df (NOT df1,df2,df3)
# to get the total number of male students with black hair, brown eyes.
# HINT: df4 = df[ (df.column1 == someVal1) & ..... & (df.columnN == someValN) ]
# You can put multiple conditions in a dataframe by enclosing each condition in parenthesis,
# and separating each consecutive condition with a '&' symbol.
df4 = df[(df.Sex == 'Male') & (df.Hair == 'Black') & (df.Eye == 'Brown')]
# One you have d4, print the total number of male students with black hair, brown eyes
df4['Freq'].sum()

32

In [213]:
# Answer the above question with a groupby and and a apply afterwards (using df)
# HINT: df.groupby( listOfColumnssToGroupBy ).apply(someFunctionThatWillSumFreq)

#df['Freq'].groupby([df['Hair'], df['Eye'], df['Sex']]).sum()
#df5 = df.groupby(['Hair', 'Eye', 'Sex']).apply(lambda group: sum(group['Freq']))
#df5
df.groupby(columns[1:-1]).sum()

                    Freq
Hair  Eye   Sex
Black Blue  Female     9
            Male      11
      Brown Female    36
            Male      32
      Green Female     2
            Male       3
      Hazel Female     5
            Male      10
Blond Blue  Female    64
            Male      30
      Brown Female     4
            Male       3
      Green Female     8
            Male       8
      Hazel Female     5
            Male       5
Brown Blue  Female    34
            Male      50
      Brown Female    66
            Male      53
      Green Female    14
            Male      15
      Hazel Female    29
            Male      25
Red   Blue  Female     7
            Male      10
      Brown Female    16
            Male      10
      Green Female     7
            Male       7
      Hazel Female     7
            Male       7

In [214]:
# using df (NOT df1,df2,df3,df4), replace all males with integer value of 1, 
# and all females to integer value of 0,
# replace the Sex Column with new Column, keep the same name 'Sex'
# hint. df['newCol'] = df.someColumn.apply(someFunction)
# print the first 20 rows of the new Column

def binGender(gender):
    if gender == 'Male':
        return 1
    return 0

df['Sex'] = df.Sex.apply(binGender)
print df.Sex.head(30)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
Name: Sex, dtype: int64

In [216]:
# using df (NOT df1,df2,df3,df4) create a new column called FreqPercent 
# FreqPercent will be the correspinding percentage of students 
# with those students attributes for that record
# HINT: someColumn = df.someColumn
# sumOfColumn = sum( someColumn )
# df['FreqPercent'] = someColumn.apply(someFunctionToGetFreqPercent)
# print the first 20 rows of this new column

freqColumn = df.Freq
totalStudents = sum(freqColumn)

def getFreqPercent(freq):
    return (float(freq)/totalStudents) * 100

df['FreqPercent'] = freqColumn.apply(getFreqPercent)
df.head(20)

     Hair    Eye  Sex  Freq  FreqPercent
0   Black  Brown    1    32     5.405405
1   Brown  Brown    1    53     8.952703
2     Red  Brown    1    10     1.689189
3   Blond  Brown    1     3     0.506757
4   Black   Blue    1    11     1.858108
5   Brown   Blue    1    50     8.445946
6     Red   Blue    1    10     1.689189
7   Blond   Blue    1    30     5.067568
8   Black  Hazel    1    10     1.689189
9   Brown  Hazel    1    25     4.222973
10    Red  Hazel    1     7     1.182432
11  Blond  Hazel    1     5     0.844595
12  Black  Green    1     3     0.506757
13  Brown  Green    1    15     2.533784
14    Red  Green    1     7     1.182432
15  Blond  Green    1     8     1.351351
16  Black  Brown    0    36     6.081081
17  Brown  Brown    0    66    11.148649
18    Red  Brown    0    16     2.702703
19  Blond  Brown    0     4     0.675676

In [217]:
# Ensure that the sum of all FreqPercent (our new column in df) is 100%
df['FreqPercent'].sum()

100.00000000000004