In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline

## Lab 3.4: csvs, functions, numpy, and distributions

Run the cell below to load the required packages and set up plotting in the notebook!

### Sales data

For this lab we will be using a truncated version of some sales data that we will be looking at further down the line in more detail. 

The csv has about 200 rows of data and 4 columns. The relative path to the csv ```sales_info.csv``` is provided below. If you copied files over and moved them around, this might be different for you and you will have to figure out the correct relative path to enter.

In [18]:
sales_csv_path = '/Users/michaelmainzer/Documents/GA/DSI/DSI-ATL-1/curriculum/03-lessons/week-01/3.4-lab/assets/datasets/sales_info.csv'

In [24]:
db = pd.read_csv('/Users/michaelmainzer/Documents/GA/DSI/DSI-ATL-1/curriculum/03-lessons/week-01/3.4-lab/assets/datasets/sales_info.csv',nrows=None)
db

#db.head()
#db.shape
#db.ix[:5,:2]

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      18.420760    93.802281      337166.53      337804.05
1       4.776510    21.082425       22351.86       21736.63
2      16.602401    93.612494      277764.46      306942.27
3       4.296111    16.824704       16805.11        9307.75
4       8.156023    35.011457       54411.42       58939.90
5       5.005122    31.877437      255939.81      332979.03
6      14.606750    76.518973      319020.69      302592.88
7       4.456466    19.337345       45340.33       55315.23
8       5.047530    26.142470       57849.23       42398.57
9       5.388070    22.427024       51031.04       56241.57
10      9.347349    41.892133       68657.91        3536.14
11     10.930398    66.403049        4151.93      137416.93
12      6.270209    47.869324      121837.56      158476.55
13     12.395919    86.760150      146725.31      125731.51
14      4.557712    22.948176      119287.76       21834.49
15      4.200122    18.706055       20335.03       39609.55
16     10.252870    44.041177      110552.94      204038.87
17     12.076785    62.199004      204237.78       15689.80
18      3.725095    14.251810       16939.15       48545.69
19      3.210727    16.043269       55498.12       16320.74
20      6.290971    25.191171       15983.98       53182.55
21      7.434821    31.753066       71758.66       30402.43
22      4.376225    23.161451       62988.17       47217.40
23     12.988913    48.820741       29637.75        6367.76
24     11.697456    73.231504       48759.71      329252.09
25      5.965175    23.450334       89736.70      332976.05
26      3.945223    14.144793        5577.61      234926.02
27      7.369585    36.408528      310035.66      151934.45
28      7.343509    36.171862      310718.21      314068.92
29     12.350027    59.893478      258284.84       61847.52
..           ...          ...            ...            ...
170     8.443932    37.407112       17232.45       19203.82
171     5.151964    20.698042       21340.78       25302.92
172     6.537069    22.888219       16617.85       18650.96
173     8.500445    27.507729       21711.71       14626.29
174     3.931543    21.811659       28128.95       46323.73
175     6.163689    25.428521       21803.20      535381.86
176     4.904447    19.568317       12517.29      812011.78
177     7.402413    26.935335       53988.92      206247.57
178    47.503269   235.730678      555707.40        6402.78
179    55.739180   268.869600     1082136.01      100765.67
180    11.840780    56.433388      192089.46       20098.61
181     7.002294    26.440917        5574.99       68230.36
182     8.753142    45.293847       80241.27      596063.00
183     3.147741    15.594552       27043.54       87471.43
184     7.196779    27.288652       61977.54      431990.70
185    76.203692   367.225653      977772.62      136717.57
186    10.804337    42.031199       41905.18       30008.81
187    10.705327    45.891477       87839.45       19420.34
188    51.800686   255.153235      445058.32      274752.60
189     5.882779    27.512271      127495.18       10315.35
190     6.686406    26.103097       23874.67       45252.42
191     5.833355    23.741603       21535.87      433832.28
192    45.556096   218.008350      276096.18       74215.43
193     5.172606    21.548782        8506.79       78137.29
194    10.118018    46.700709       49163.01       83915.72
195    51.675537   233.533189      434110.57      372240.72
196     2.794631    11.996118       73789.38      148021.90
197     7.611698    38.809973       88006.84       31184.18
198    15.697651   105.035207      117958.96       33324.36
199    50.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [25]:
db2 = db.set_index('volume_sold').to_dict()['2015_margin']

#### 1. Loading the data

Set up an empty list called ```rows```.

Using the pattern for loading csvs we learned earlier, add all of the rows in the csv file to the rows list.

For your reference, the pattern is:
```python
with open(my_csv_path, 'r') as f:
    reader = csv.reader(f)
    ...
```

Beyond this, adding the rows in the csv file to the ```rows``` variable is up to you.

In [ ]:
rows = []

with open(sales_csv_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

##### 2. Separate header and data

The header of the csv is contained in the first index of the ```rows``` variable, as it is the first row in the csv file. 

Use python indexing to create two new variables: ```header``` which contains the 4 column names, and ```data``` which contains the list of lists, each sub-list representing a row from the csv.

Lastly, print ```header``` to see the names of the columns.

In [ ]:
header = rows[0]
data = rows[1:]
print(header)

#### 3. Create a dictionary with the data

Use loops or list comprehensions to create a dictionary called ```sales_data```, where the keys of the dictionary are the column names, and the values of the dictionary are lists of the data points of the column corresponding to that column name.

In [ ]:
sales_data = {}

for index, column_name in enumerate(header):
    sales_data[column_name] = []
    for row in data:
        sales_data[column_name].append(row[index])
print sales_data

**3.A** Print out the first 10 items of the 'volume_sold' column.

In [ ]:
sales_data['volume_sold'][0:10]

#### 4. Convert data from string to float

As you can see, the data is still in string format (which is how it is read in from the csv). For each key:value pair in our ```sales_data``` dictionary, convert the values (column data) from string values to float values.

In [ ]:
for name, col in sales_data.items():
    col = [float(x) for x in col]
    sales_data[name] = col

#### 5. Write function to print summary statistics

Now write a function to print out summary statistics for the data.

Your function should:

- Accept two arguments: the column name and the data associated with that column
- Print out information, clearly labeling each item when you print it:
    1. Print out the column name
    2. Print the mean of the data using ```np.mean()```
    3. Print out the median of the data using ```np.median()```
    4. Print out the mode of the **rounded data** using ```stats.mode()```
    5. Print out the variance of the data using ```np.var()```
    6. Print out the standard deviation of the data using ```np.std()```
    
Remember that you will need to convert the numeric data from these function to strings by wrapping them in the ```str()``` function.

In [29]:
def summary_statistics(column, data):
    print 'COLUMN: ' + column
    print 'mean: ' + str(np.mean(data))
    print 'median: ' + str(np.median(data))
    print 'mode: ' + str(stats.mode([round(d) for d in data]))
    print 'variance: ' + str(np.var(data))
    print 'standard deviation: ' + str(np.std(data))

**5.A** Using your function, print the summary statistics for 'volume_sold'

In [30]:
print summary_statistics('volume_sold', sales_data['volume_sold'])

KeyError: 'volume_sold'

**5.B** Using your function, print the summary statistics for '2015_margin'

In [ ]:
summary_statistics('2015_margin', sales_data['2015_margin'])

**5.C** Using your function, print the summary statistics for '2015_q1_sales'

In [ ]:
summary_statistics('2015_q1_sales', sales_data['2015_q1_sales'])

**5.D** Using your function, print the summary statistics for '2016_q1_sales'

In [ ]:
summary_statistics('2016_q1_sales', sales_data['2016_q1_sales'])

#### 6. Plot the distributions

We've provided a plotting function below called ```distribution_plotter()```. It takes two arguments, the name of the column and the data associated with that column.

In individual cells, plot the distributions for each of the 4 columns. Do the data appear skewed? Symmetrical? If skewed, what would be your hypothesis for why?

In [ ]:
def distribution_plotter(column, data):
    sns.set(rc={"figure.figsize": (10, 7)})
    sns.set_style("white")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribution of ' + column + '\n', fontsize=16)

In [ ]:
distribution_plotter('volume_sold', sales_data['volume_sold'])

In [ ]:
distribution_plotter('2015_margin', sales_data['2015_margin'])

In [ ]:
distribution_plotter('2015_q1_sales', sales_data['2015_q1_sales'])

In [ ]:
distribution_plotter('2016_q1_sales', sales_data['2016_q1_sales'])