# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [638]:
import urllib2
import requests
import bs4
from bs4 import BeautifulSoup

import pandas as pd

In [589]:
#def extract_text(el):
#    if el:
#        return el.text.strip()
#    else:
#        return ''
        

#def get_company_from_result(result):
#    return extract_text(result.find('span', {'class' : 'company'}))

#def get_location_from_result(result):
#    return  extract_text(result.find('span', {'class' : 'location'}))

#def get_summary_from_result(result):
#    return  extract_text(result.find('span', {'class' : 'summary'}))

#def get_title_from_result(result):
#    return result.find('a', {'data-tn-element' : 'jobTitle'}).text.strip()

#def get_salary_from_result(result):
#    salary_table = result.find('td', {'class' : 'snip'})
#    if salary_table:
#        snip = salary_table.find('nobr')
#        if snip:
#            return snip.text.strip()
        
#    return None

In [590]:
#url = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
#rows = []
#max_results_per_city = 5000

#for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Atlanta', 'Washington+DC', 
#                 'Minneapolis', 'Denver', 'Seattle', 'Boston', 'Los+Angeles']):
#    for start in range(0, max_results_per_city, 10):
#        r = requests.get(url.format(city, start))
#        soup = BeautifulSoup(r.content)
#        results = soup.findAll('div', { "class" : "result" })
#        for result in results:
#            if result:
#                row = {}
#                row['title'] = get_title_from_result(result)
#                row['company'] = get_company_from_result(result)
#                row['summary'] = get_summary_from_result(result)
#                row['salary'] = get_salary_from_result(result)
#                row['city'] = city
#                rows.append(row)
#
#import pandas as pd
#data = pd.DataFrame.from_records(rows)

#salary_data = data[data.salary.notnull()]
#salary_data = salary_data[~(salary_data.salary.astype('str').str.contains('hour'))]
#salary_data = salary_data[~(salary_data.salary.astype('str').str.contains('day'))]
#salary_data = salary_data.drop_duplicates()

In [612]:
#salary_data.salary.apply(str)

In [592]:
#salary_data = salary_data[~(salary_data.salary.astype('str').str.contains('month'))]
#salary_data.salary = salary_data['salary'].apply(lambda x: x.lstrip('$').rstrip('abcdefghijklmnopqrstuvwxyz'))

In [593]:
#salary_data.to_csv('../assets/04-project4-assets/dataScienceSalaries.csv', encoding='utf8', index=False)

In [639]:
dsSalaries = pd.read_csv('../assets/04-project4-assets/dataScienceSalaries.csv')

In [640]:
dsSalaries2= dsSalaries['salary'].apply(lambda x: pd.Series(x.split('-')))

In [615]:
#dsSalaries

In [641]:
dsSalaries2
dsSalaries2[0] = dsSalaries2[0].str.replace(r'\D+', '').astype('int')

In [642]:
dsSalaries2[1].fillna(dsSalaries2[0], inplace=True)

In [643]:
dsSalaries2[1] = dsSalaries2[1].str.replace(r'\D+', '')
dsSalaries2[1].fillna(dsSalaries2[0], inplace=True)

In [644]:
dsSalaries2[1] = dsSalaries2[1].astype(int)
dsSalaries2.dtypes

0    int64
1    int64
dtype: object

In [648]:
#dsSalaries2['meanSalary'] = dsSalaries2[0] + dsSalaries2[1] / 2
#dsSalaries2
dsSalaries2['meanSalary'] = dsSalaries2.mean(axis=1)

dsSalaries2

          0       1  meanSalary
0     92145  141555    116850.0
1     92145  119794    105969.5
2     81878  121525    101701.5
3     43684   84044     63864.0
4    120000  160000    140000.0
5     81878  121525    101701.5
6    108887  141555    125221.0
7     73867   94504     84185.5
8     78687  101385     90036.0
9     47000   47000     47000.0
10   108887  141555    125221.0
11    85000   85000     85000.0
12   120000  165000    142500.0
13    77490  100736     89113.0
14    70819  103042     86930.5
15    65000   65000     65000.0
16   100000  130000    115000.0
17   120000  120000    120000.0
18   108887  141555    125221.0
19   108887  141555    125221.0
20    95000  125000    110000.0
21   128082  160300    144191.0
22   128082  160300    144191.0
23    90000  165000    127500.0
24    92145  141555    116850.0
25    77490  119794     98642.0
26    45000   45000     45000.0
27    59318  119794     89556.0
28   137494  185100    161297.0
29    65572   84611     75091.5
30   128082  160300    144191.0
31    59318  119794     89556.0
32   160300  250000    205150.0
33   100000  130000    115000.0
34   119776  169686    144731.0
35    41835   99296     70565.5
36    92145  119794    105969.5
37   100000  125000    112500.0
38    77490  119794     98642.0
39    50000   50000     50000.0
40   130000  160000    145000.0
41   100000  100000    100000.0
42    43684  100736     72210.0
43   123175  185100    154137.5
44   108887  141555    125221.0
45    92145  119794    105969.5
46    62338  160300    111319.0
47   128082  160300    144191.0
48   130000  160000    145000.0
49   110000  130000    120000.0
50   140000  200000    170000.0
51    47262   61441     54351.5
52    64650  119794     92222.0
53    92145  119794    105969.5
54    92145  141555    116850.0
55    92145  119794    105969.5
56    77490  119794     98642.0
57   100000  130000    115000.0
58   108887  141555    125221.0
59    64650  100736     82693.0
60    92145  119794    105969.5
61   150000  200000    175000.0
62   140000  180000    160000.0
63   100000  130000    115000.0
64   128082  160300    144191.0
65   108887  141555    125221.0
66   128082  160300    144191.0
67    34870   76956     55913.0
68   145000  145000    145000.0
69    38000   50000     44000.0
70    92145  119794    105969.5
71    77490  119794     98642.0
72    92145  119794    105969.5
73   128082  160300    144191.0
74    88305  146570    117437.5
75    55666   84044     69855.0
76    92145  119794    105969.5
77    62010   62010     62010.0
78   108887  141555    125221.0
79   119776  169686    144731.0
80    40000   45000     42500.0
81   108887  141555    125221.0
82    39311   51102     45206.5
83    92145  119794    105969.5
84    92145  141555    116850.0
85   100000  100000    100000.0
86    85000  130000    107500.0
87    92145  119794    105969.5
88    34870   76956     55913.0
89   128082  160300    144191.0
90    60000   95000     77500.0
91    70000   80000     75000.0
92   105000  105000    105000.0
93    71000   71000     71000.0
94    85000   85000     85000.0
95   110000  200000    155000.0
96    80000  110000     95000.0
97   125000  125000    125000.0
98    50000   60000     55000.0
99   120000  160000    140000.0
100  150000  200000    175000.0
101  138300  138300    138300.0
102  100000  140000    120000.0
103  200000  200000    200000.0
104  140000  180000    160000.0
105   95000   95000     95000.0
106  100000  140000    120000.0
107  185000  185000    185000.0
108  110000  150000    130000.0
109  140000  140000    140000.0
110   80000  100000     90000.0
111   70000  110000     90000.0
112   75000   95000     85000.0
113  100000  120000    110000.0
114  165000  165000    165000.0
115   45000   55000     50000.0
116  170000  170000    170000.0
117  120000  120000    120000.0
118   71384   93274     82329.0
119  115000  150000    132500.0
120   80000  100000     90000.0
121  130000  130000    130000.0
122   85000   85000     85000.0
123  170000  170000    170000.0
124  180000  180000    180000.0
125  125000  150000    137500.0
126   60000  120000     90000.0
127  120000  120000    120000.0
128  120000  165000    142500.0
129  125000  135000    130000.0
130  180000  180000    180000.0
131   80000  120000    100000.0
132  160000  160000    160000.0
133  130000  175000    152500.0
134  120000  150000    135000.0
135  150000  180000    165000.0
136   50400   60000     55200.0
137  150000  180000    165000.0
138  140000  140000    140000.0
139   49012   49012     49012.0
140   72364   96934     84649.0
141  150000  150000    150000.0
142   43692   51120     47406.0
143  145000  145000    145000.0
144  115000  145000    130000.0
145  100000  100000    100000.0
146  100000  150000    125000.0
147  200000  200000    200000.0
148  120000  155000    137500.0
149  130000  130000    130000.0
150  110000  180000    145000.0
151  110000  180000    145000.0
152  160000  160000    160000.0
153  140000  200000    170000.0
154   67500   81600     74550.0
155  300000  300000    300000.0
156  150000  175000    162500.0
157  150000  150000    150000.0
158   80000  200000    140000.0
159   75000   95000     85000.0
160  165000  195000    180000.0
161  130000  150000    140000.0
162   65000   65000     65000.0
163  150000  200000    175000.0
164  180000  180000    180000.0
165  117500  127500    122500.0
166   53051  145991     99521.0
167  140000  140000    140000.0
168  150000  150000    150000.0
169  150000  240000    195000.0
170  150000  200000    175000.0
171  170000  200000    185000.0
172   68239   85644     76941.5
173  150000  300000    225000.0
174  150000  150000    150000.0
175  200000  200000    200000.0
176  150000  150000    150000.0
177   38735   40774     39754.5
178     500     500       500.0
179  200000  200000    200000.0
180  136500  136500    136500.0
181  140000  140000    140000.0
182  180000  250000    215000.0
183   64807   85000     74903.5
184  100000  200000    150000.0
185  105000  105000    105000.0
186   68239   75000     71619.5
187   50000   60000     55000.0
188  110000  200000    155000.0
189  130000  130000    130000.0
190   66575   83555     75065.0
191   75243   94834     85038.5
192   24000   56000     40000.0
193  200000  200000    200000.0
194   70000   80000     75000.0
195   68239   83000     75619.5
196   50000   50000     50000.0
197  115000  115000    115000.0
198   61000   62000     61500.0
199   45000   45000     45000.0
200  120000  120000    120000.0
201   41057   61669     51363.0
202  150000  250000    200000.0
203   68239   80000     74119.5
204   40000   50000     45000.0
205   77000   90000     83500.0
206   63765   70142     66953.5
207   50000   60000     55000.0
208  140000  160000    150000.0
209   40000   65000     52500.0
210   60000   90000     75000.0
211   85211  110522     97866.5
212   59250   59250     59250.0
213  120000  160000    140000.0
214  200000  200000    200000.0
215  150000  150000    150000.0
216  100000  200000    150000.0
217  100000  100000    100000.0
218  140000  200000    170000.0
219   68239   85644     76941.5
220   80000  120000    100000.0
221   55000   55000     55000.0
222   51165   51165     51165.0
223   75000   75000     75000.0
224   68239   85644     76941.5
225  100000  100000    100000.0
226   85000  105000     95000.0
227   50000   50000     50000.0
228   40000   50000     45000.0
229   65000   65000     65000.0
230  150000  250000    200000.0
231   57969   70142     64055.5
232   70000  150000    110000.0
233  130000  175000    152500.0
234  200000  300000    250000.0
235   76340  100322     88331.0
236  200000  200000    200000.0
237  115000  200000    157500.0
238   65000   65000     65000.0
239  130000  160000    145000.0
240     788     788       788.0
241   42416   42416     42416.0
242  140000  160000    150000.0
243  175000  275000    225000.0
244   80000  200000    140000.0
245   85211   97993     91602.0
246   68239   85644     76941.5
247   63765   70142     66953.5
248   60000   75000     67500.0
249  140000  140000    140000.0
250  125000  180000    152500.0
251   80000  200000    140000.0
252   70000   80000     75000.0
253   41993   53606     47799.5
254   53051  145991     99521.0
255   57969   70142     64055.5
256   66244   66244     66244.0
257   89575  116453    103014.0
258   61761   91952     76856.5
259   32178   53851     43014.5
260   33010   43098     38054.0
261  110000  110000    110000.0
262   87955  115354    101654.5
263   71152   83721     77436.5
264   71152   83721     77436.5
265   39354   39354     39354.0
266   74566   97794     86180.0
267   44689   58096     51392.5
268   63772   99296     81534.0
269   55000   55000     55000.0
270   87955  115354    101654.5
271   90000   90000     90000.0
272  110000  110000    110000.0
273  160000  180000    170000.0
274  110000  110000    110000.0
275   60000   60000     60000.0
276   95000   95000     95000.0
277  120000  160000    140000.0
278  150000  150000    150000.0
279  200000  200000    200000.0
280  120000  120000    120000.0
281   80000  110000     95000.0
282  110000  125000    117500.0
283  180000  180000    180000.0
284  150000  250000    200000.0
285   36076   46899     41487.5
286  150000  250000    200000.0
287   76341   99243     87792.0
288   71012   99243     85127.5
289   70000   80000     75000.0
290     475     475       475.0
291   93645   93645     93645.0
292   62712   75255     68983.5
293   25000   29000     27000.0
294   43037   68430     55733.5
295   66654   66654     66654.0
296   85000   85000     85000.0
297   66654   66654     66654.0
298  170000  170000    170000.0
299  105000  105000    105000.0
300   42000   45000     43500.0
301   42000   46500     44250.0
302  130000  130000    130000.0
303   65000   90000     77500.0
304   45000   50000     47500.0
305   60000  140000    100000.0
306   43828   56976     50402.0
307  100000  100000    100000.0
308   43828   56976     50402.0
309   90000   90000     90000.0
310  110000  145000    127500.0
311   85000  130000    107500.0
312   92448  142021    117234.5
313  100000  125000    112500.0
314  230000  250000    240000.0
315   56000   70000     63000.0
316  100000  120000    110000.0
317  120000  180000    150000.0
318   90000  130000    110000.0
319  110000  150000    130000.0
320  150000  150000    150000.0
321   64862  120187     92524.5
322  145000  145000    145000.0
323  200000  200000    200000.0
324  120000  150000    135000.0
325   60000   60000     60000.0
326   70000   80000     75000.0
327  130000  150000    140000.0
328  115000  135000    125000.0
329   55000   55000     55000.0
330   75000  130000    102500.0
331  130000  130000    130000.0
332  100000  100000    100000.0
333  110000  150000    130000.0
334   80000  125000    102500.0
335  100000  130000    115000.0
336   80000  200000    140000.0
337  110000  130000    120000.0
338  150000  150000    150000.0
339   32999   45995     39497.0
340  100000  145000    122500.0
341   95000   95000     95000.0
342  109245  160300    134772.5
343   50000   65000     57500.0
344  100000  150000    125000.0
345  120000  140000    130000.0
346   65000   80000     72500.0
347   92448  142021    117234.5
348  165000  165000    165000.0
349   80000  110000     95000.0
350  140000  220000    180000.0
351  110000  140000    125000.0
352  110000  120000    115000.0
353   74260  114802     94531.0
354  110000  200000    155000.0
355   61956   96538     79247.0
356  122744  159572    141158.0
357   60000   60000     60000.0
358  100000  100000    100000.0
359   50794   50794     50794.0
360   52300   52300     52300.0
361   56200   56200     56200.0
362   36000   46000     41000.0
363   33400   33400     33400.0
364  120000  120000    120000.0
365   54182   54182     54182.0
366   65000   65000     65000.0
367  175000  250000    212500.0
368   55000   55000     55000.0
369   30000   39999     34999.5
370   55000   70000     62500.0
371   75000   75000     75000.0
372   80000   80000     80000.0
373  160000  160000    160000.0
374   80000   80000     80000.0
375  135000  135000    135000.0
376  150000  150000    150000.0
377  150000  230000    190000.0
378  140000  140000    140000.0
379   80000   85000     82500.0
380  120000  120000    120000.0
381   61920   81264     71592.0
382  110000  130000    120000.0
383   40000   40000     40000.0
384   70000   90000     80000.0
385  150000  230000    190000.0
386   61920   81264     71592.0
387  100000  150000    125000.0
388  100000  170000    135000.0
389  100000  200000    150000.0
390  150000  230000    190000.0
391   75925   98702     87313.5
392   71510   90646     81078.0
393   63344   82347     72845.5
394   51987   67833     59910.0
395  140000  140000    140000.0
396  140000  160000    150000.0
397  160000  160000    160000.0
398   35000   35000     35000.0
399   37000   45000     41000.0
400   65000   65000     65000.0
401   70000  100000     85000.0
402  160000  160000    160000.0

In [649]:
dsSalaries

,city,company,salary,summary,title
0,Washington+DC,Department Of Education,"92,145 - $141,555 a",Analyze data of extreme complexity largely thr...,"Statistician (Predictive Analytics), GS-1530-1..."
1,Washington+DC,Department Of The Interior,"92,145 - $119,794 a",Data collection tools; Identify precise operat...,"Education Research Analyst, GS-1730-13"
2,Washington+DC,Legislative Branch,"81,878 - $121,525 a",Or in the social sciences including demography...,Senior Statistician
3,Washington+DC,Department Of Commerce,"43,684 - $84,044 a",Analyze and evaluate data. Assist in data coll...,"Recent Graduate Statistician GS-1530-7/9/11, C..."
4,Washington+DC,Jobspring Partners,"120,000 - $160,000 a",The data scientist will develop algorithms and...,Mid Level Data Scientist
5,Washington+DC,Legislative Branch,"81,878 - $121,525 a",About the Agency GAO's work is designed to add...,Senior Mathematical Statistician
6,Washington+DC,Department Of Labor,"108,887 - $141,555 a",The branch conducts research on approaches to ...,Economist or Statistician (Economics)
7,Washington+DC,Dept of Forensic Sciences,"73,867 - $94,504 a",Skill and ability to use a personal computer t...,Forensic Scientist II (Crime Scene)
8,Washington+DC,Office of the State Superintendent of Education,"78,687 - $101,385 a",Provides staffing support and research to assi...,Education Research Analyst
9,Washington+DC,Washington DC VA Medical Center,"47,000 a","Neuroscience, CVA and TBI etiology, brain imag...",Postdoctoral Fellow
10,Washington+DC,Department of the Air Force,"108,887 - $141,555 a",Ability to develop and utilize appropriate dat...,OPERATIONS RESEARCH ANALYST
11,Washington+DC,Immersion Consulting,"85,000 a",Immersion Consulting LLC is Seeking a Senior A...,Functional Analyst II - Market Research
12,Washington+DC,Department Of Education,"120,000 - $165,000 a",Strong research methods and data analytic skil...,"Senior Education Research Scientist/Analyst, A..."
13,Washington+DC,Department of the Navy,"77,490 - $100,736 a",Develop goals and objectives that integrate or...,INTELLIGENCE SPECIALIST
14,Washington+DC,Metropolitan Washington Council of Governments,"70,819 - $103,042 a",And other data collected for use in regional t...,Senior Statistical Survey Analyst
15,Washington+DC,Analytic Recruiting,"65,000 a",Collect and analyze data using basic research ...,Market Research Analyst
16,Washington+DC,All-In Analytics,"100,000 - $130,000 a","PD EAD LGD modeling, loss forecasting, stress ...",Machine Learning Risk Data Scientist
17,Washington+DC,Analytic Recruiting,"120,000 a",Leading Financial Services company seeking a S...,"Statistician, Predictive Analytics"
18,Washington+DC,Department Of Commerce,"108,887 - $141,555 a",The ISD manages and maintains all operating sy...,Supervisory IT Specialist - DE
19,Washington+DC,Department Of Health And Human Services,"108,887 - $141,555 a",CIT also provides bioinformatics support throu...,Supervisory IT Specialist (APPSW)-CIT-DE
20,Washington+DC,Workbridge Associates,"95,000 - $125,000 a",In this fast paced environment with minimal su...,"Software & Data Engineer - Scala, Spark"
21,Washington+DC,U.S. Federal Government,"128,082 - $160,300 a",Collects system performance data. In this posi...,Computer Scientist
22,Washington+DC,Centers for Disease Control and Prevention,"128,082 - $160,300 a",BASIC QUALIFICATION REQUIREMENT FOR HEALTH SCI...,Interdisciplinary Health Scientist/Statisticia...
23,Washington+DC,Select Source Solutions,"90,000 - $165,000 a","We work in small, multi-disciplined teams of p...",Software Developer (Big Data)
24,Washington+DC,Department Of Veterans Affairs,"92,145 - $141,555 a",Scientists to serve on peer review committees;...,HEALTH SCIENCE OFFICER
25,Washington+DC,Department Of Labor,"77,490 - $119,794 a",Analyzes data obtained in laboratory studies a...,Research Statistician
26,Washington+DC,"ADNET Systems, Inc.","45,000 a",Experience working with Earth Science data and...,Outreach Coordinator
27,Washington+DC,National Geospatial-Intelligence Agency,"59,318 - $119,794 a",Conduct data mining and retrieval on large vol...,GEOINT Analyst (Data Science)
28,Washington+DC,Department Of The Interior,"137,494 - $185,100 a",The Fish and Wildlife Service employs world-cl...,Senior Executive Service - Assistant Director ...
29,Washington+DC,National Security Agency,"65,572 - $84,611 a","Exploit, fuse and use data and data sources. A...",Data Scientist
30,Washington+DC,Department Of Homeland Security,"128,082 - $160,300 a","Cross-reference USCIS data, create data produc...",IT PROGRAM MANAGER
31,Washington+DC,National Geospatial-Intelligence Agency,"59,318 - $119,794 a",Experience applying knowledge and quickly deve...,GEOINT Analyst (Open Source Research)
32,Washington+DC,U.S. Federal Government,"160,300 - $250,000 a",Establishing and maintaining collaborative rel...,"DIRECTOR, NATIONAL CENTER FOR ENVIRONMENTAL AS..."
33,Washington+DC,Jobspring Partners,"100,000 - $130,000 a",Big Data tools:. This Data Scientist will be w...,Data Scientist
34,Washington+DC,U.S. Federal Government,"119,776 - $169,686 a",Prepares and disseminates a variety of informa...,Physical Science Administrator (Program Director)
35,Washington+DC,Department Of Commerce,"41,835 - $99,296 a",Analyze the accuracy and validity of statistic...,Mathematical Statistician
36,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a",Based data collections; Scientists and managem...,"Mathematical Statistician, GS-1529-13"
37,Washington+DC,Analytic Recruiting,"100,000 - $125,000 a",Develops statistical analysis and statistical ...,Statistician
38,Washington+DC,Department Of Health And Human Services,"77,490 - $119,794 a","In order to qualify for Health Scientist, GS-0...",Health Scientist
39,Washington+DC,"Worldwide Staffing Exchange, LLC","50,000 a",Enter Forensic Data into a Database:. Perform ...,Forensic Lab Technician
40,Washington+DC,"Zachary Piper, LLC","130,000 - $160,000 a",Zachary Piper is currently looking for a Cyber...,Cyber Research Analyst
41,Washington+DC,ResourceHunt Group,"100,000 a",Strong experience with Big data distributed te...,Data Scientist
42,Washington+DC,Department Of Commerce,"43,684 - $100,736 a",Experience for this position includes assistin...,"Survey Statistician, GG-1530-07/09/11/12, Cens..."
43,Washington+DC,Department Of The Interior,"123,175 - $185,100 a","The Scientist Emeritus Program; Evaluation, Re...","Director, Office of Science Quality and Integr..."
44,Washington+DC,Department of Defense,"108,887 - $141,555 a",Providing technical advice on solutions to mee...,INFORMATION TECHNOLOGY SPECIALIST (INFOSEC)
45,Washington+DC,Department Of Commerce,"92,145 - $119,794 a","Reviews, analyzes, and validates financial and...",Accountant (DE)
46,Washington+DC,Central Intelligence Agency,"62,338 - $160,300 a","If you have experience in data analytics, comp...",Data Scientist
47,Washington+DC,National Geospatial-Intelligence Agency,"128,082 - $160,300 a","IP geo-location, geo-inferencing, spatial temp...",Supv R & D Manager
48,Washington+DC,Workbridge Associates,"130,000 - $160,000 a",The Data Scientist will be working on various ...,Senior Data Scientist
49,Washington+DC,Request Technology,"110,000 - $130,000 a",Prestigious Enterprise Company is currently se...,Data Scientist
50,Washington+DC,Selby Jennings,"140,000 - $200,000 a",Senior Data Scientist. An award-winning advert...,Senior Data Scientist
51,Washington+DC,Department of Defense,"47,262 - $61,441 a","Forces to communicate globally through voice, ...",Pathways Recent Graduate Computer Scientist
52,Washington+DC,Department Of Commerce,"64,650 - $119,794 a",Ensuring the accuracy of measurements that dat...,Economist
53,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a","Research, data gathering, and decision analysi...",Health Scientist (Radiological Health)
54,Washington+DC,Department of the Army,"92,145 - $141,555 a",Data export methods to meet requirements of re...,Information Management Specialist
55,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a",Research and data analysis on health care prog...,Social Science Research Analyst
56,Washington+DC,U.S. Department of Labor,"77,490 - $119,794 a",Economic Statistical Data Management and Analy...,Research Statistician
57,Washington+DC,All-In Analytics,"100,000 - $130,000 a","Analytics, data modeling, ETL, data analysis, ...",Data Scientist
58,Washington+DC,Department Of Commerce,"108,887 - $141,555 a","Makes well-informed, effective, and timely dec...",Supervisory IT Specialist (OS/SYSADMIN) - DE
59,Washington+DC,Department Of The Interior,"64,650 - $100,736 a",Develop special data sets useful to conserve a...,Biologist GS-0401-11/12 (DEU - PERM - MW)
60,Washington+DC,Department Of Commerce,"92,145 - $119,794 a",Analyzes cost and performance data. Skill Set ...,Administrative Officer - DE
61,Washington+DC,Jobspring Partners,"150,000 - $200,000 a",Big Data tools:. This Data Scientist will be w...,Senior/Lead Data Scientist
62,Washington+DC,Jobspring Partners,"140,000 - $180,000 a",Big Data tools:. This Data Scientist will be w...,Senior Data Scientist
63,Washington+DC,Request Technology,"100,000 - $130,000 a","Use techniques from statistics, machine learni...",Data Scientist Professional
64,Washington+DC,Department Of Energy,"128,082 - $160,300 a","In addition, the Office of Science sponsors a ...",Supervisory Grants and Contracts Analyst
65,Washington+DC,Department Of Commerce,"108,887 - $141,555 a",Develops and administers data management syste...,IT Specialist (ENTARCH) - Data Scientist - DE
66,Washington+DC,Department Of Energy,"128,082 - $160,300 a",Develop budgets and creates resource plans to ...,Interdisciplinary Supervisory Economist/Operat...
67,Washington+DC,Department of the Navy,"34,870 - $76,956 a","Collecting, computing and analyzing data. Malf...",DON PATHWAYS INTERNSHIP PROGRAM (MATHEMATICIAN...
68,Washington+DC,Principal Recruiting Group,"145,000 a","We work in small, multi-disciplined teams of p...",Software Engineer
69,Washington+DC,University of Maryland,"38,000 - $50,000 a","Familiarity with LIMS , lab e-notebooks, and b...",Laboratory Technician
70,Washington+DC,Department Of Commerce,"92,145 - $119,794 a",Maintains EA data and models; Addresses and re...,IT Specialist (ENTARCH) - DE
71,Washington+DC,Department Of Health And Human Services,"77,490 - $119,794 a",In order to qualify for the Interdisciplinary ...,"Interdisciplinary Scientist, GS-0401/0403/0415..."
72,Washington+DC,Department Of Commerce,"92,145 - $119,794 a",Converts existing project Data Models into USP...,IT Specialist (DATAMGT) - DE
73,Washington+DC,Department Of Commerce,"128,082 - $160,300 a","Makes well-informed, effective, and timely dec...",Supervisory IT Specialist (NETWORK) - DE
74,Washington+DC,Centers for Disease Control and Prevention,"88,305 - $146,570 a",Analyze scientific investigation data. As a He...,Health Scientist
75,Washington+DC,Department Of Health And Human Services,"55,666 - $84,044 a",Reviewing and evaluating scientific data to de...,Interdisciplinary Engineer
76,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a","Social Scientist, 0101-13 :. In order to quali...","Social Scientist, GS-0101-13"
77,Washington+DC,Prince George's Community College,"62,010 a",Two years of full-time equated experience in d...,"Research Analyst, Institutional Research and R..."
78,Washington+DC,Department Of Commerce,"108,887 - $141,555 a",The Office maintains the USPTO data center fac...,Information Technology Specialist (OS/SYSADMIN...
79,Washington+DC,U.S. Federal Government,"119,776 - $169,686 a",Increases access to program-level post-award o...,Program Director
80,Washington+DC,University of Maryland,"40,000 - $45,000 a",And analyzing data. The role of this position ...,Post-Doctoral Scientist
81,Washington+DC,Department Of Commerce,"108,887 - $141,555 a",Analyzes accident and illness data and job haz...,Safety and Occupational Health Manager
82,Washington+DC,Department of Defense,"39,311 - $51,102 a",Prepare outstanding scientists and health care...,PROGRAM SUPPORT ASSISTANT (OA)
83,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a","As an Animal Welfare Policy Scientist, some of...",Animal Welfare Policy Scientist - OD - DE
84,Washington+DC,Department Of Commerce,"92,145 - $141,555 a",(2) analyzing the data; Polarized light micros...,Physical Scientist ZP-IV (equivalent GS-13/14)
85,Washington+DC,Deployment Staffing,"100,000 a",Experience with implementing expert systems/ar...,Data Scientist/Java Analytic Developer - DOD
86,Washington+DC,Department Of Education,"85,000 - $130,000 a",(4) analyze data and synthesize information fr...,"Education Research Scientist/Analyst, AD-1730-00"
87,Washington+DC,Department Of Health And Human Services,"92,145 - $119,794 a",Requirements related to medical data. As a Com...,"Computer Scientist, GS-1550-13-DE"
88,Washington+DC,Department of the Navy,"34,870 - $76,956 a","Collecting, computing and analyzing data. Cond...",DON Pathways Internship Program (Mechanical En...
89,Washington+DC,Department of Defense,"128,082 - $160,300 a","IP geo-location, geo-inferencing, spatial temp...",Supervisory R & D Manager
90,Washington+DC,Department Of Education,"60,000 - $95,000 a",(4) analyze data and synthesize information fr...,Associate Education Research Scientist/Analyst...
91,Washington+DC,Laguna Source,"70,000 - $80,000 a",Work closely with upstream and downstream scie...,Statistician - Process Development - Design of...
92,Chicago,Workbridge Associates,"105,000 a","Data, Analytics, Scientist, Science, Python, R...",Mid-Level Data Scientist
93,Chicago,Etech Hi Inc.,"71,000 a",Create annual/quarterly reports to monitor dat...,Statistician
94,Chicago,Etech Hi Inc.,"85,000 a",Experience with medical or clinical data is a ...,Sr. Statistician
95,Chicago,Seeking Alpha Search International,"110,000 - $200,000 a",Working with data validation members and infor...,QUANTITATIVE MODEL VALIDATION ANALYST
96,Chicago,Workbridge Associates,"80,000 - $110,000 a",Big data with Hadoop is a plus. A well-respect...,Data Scientist
97,Chicago,Hirewell,"125,000 a",Data manipulation with SQL systems. Manipulate...,Data Scientist
98,Chicago,Smith Hanley Associates,"50,000 - $60,000 a",Analyze and mine large data sets as well as pe...,Statistical Analyst
99,Chicago,Workbridge Associates,"120,000 - $160,000 a",A startup located right downtown that helps an...,Senior Data Scientist
100,Chicago,Smith Hanley Associates,"150,000 - $200,000 a",Experience working with syndicated data and PO...,(Sr.) Statistical Consultant
101,Chicago,CREhire.com,"138,300 a",Categorical Data Analysis. Statistical Analysi...,Principal Statistical Analyst / Data Scientist
102,Chicago,Analytic Recruiting,"100,000 - $140,000 a","Crafting the methodology, to data modeling usi...",Predictive Modeling Director
103,Chicago,NJF Search,"200,000 a",Looking for a Research Scientist with a backgr...,"Quantitative Researcher, Machine Learning & Ba..."
104,Chicago,Workbridge Associates,"140,000 - $180,000 a",A brand new startup moving its headquarters ri...,Lead Data Scientist
105,Chicago,North shore Staffing Group,"95,000 a",Business Data Analyst – Mobile Devices to join...,Business Data Analyst
106,Chicago,Workbridge Associates,"100,000 - $140,000 a",Hadoop/Hive/Pig Big data Experience. A non-pro...,"Senior Data Scientist (Python, R) in Des Plaines"
107,Chicago,Workbridge Associates,"185,000 a",They need someone with the experience to be ha...,"Manager of Data Science (Python, R)"
108,Chicago,Workbridge Associates,"110,000 - $150,000 a",This agile team will create and develop new so...,Senior Java Computer Scientist
109,Chicago,Analytic Recruiting,"140,000 a",Take analytical objectives and define data req...,Lead Data Scientist
110,Chicago,Smith Hanley Associates,"80,000 - $100,000 a","Statistical Analyst/Data Scientist. Extract, c...",Data Scientist
111,Chicago,3coast,"70,000 - $110,000 a",Uses sensory data in new product development e...,Product Development Specialist - Food R&D
112,Chicago,Food Management Search,"75,000 - $95,000 a","Data, drawing conclusions, documenting,. A tec...",Food Scientist MS or PhD - Meat Products
113,Chicago,Jobspring Partners,"100,000 - $120,000 a","Data, data science, data engineer, linux, unix...",Data Scientist
114,Chicago,Workbridge Associates,"165,000 a",A major healthcare insurance corporation has b...,Principal Data Scientist
115,Chicago,Modis,"45,000 - $55,000 a",SQL background to extract data. Producing form...,Statistical Data Analyst // Exciting Long-term...
116,Chicago,NJF Search,"170,000 a",Each team has trading strats (TS) who are a mi...,High Frequency Strategy Engineer
117,Chicago,Hirewell,"120,000 a",Bring structure to large quantities of data - ...,Data Scientist -Fitness/Wellness Firm
118,Chicago,Clinical Management Consultants,"71,384 - $93,274 a",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...
119,Chicago,Workbridge Associates,"115,000 - $150,000 a",This is a great opportunity to join a team of ...,Lead Data Engineer
120,Chicago,Jobspring Partners,"80,000 - $100,000 a","Data, Engineer, Scientist, Big Data, Hadoop, H...",Data Engineer
121,Chicago,Workbridge Associates,"130,000 a",Hiring for a Senior Data Scientist for a major...,Senior Data Scientist (Deep Learning or NLP)
122,Chicago,ITStaff Technical Resources,"85,000 a",Working with data scientists on optimal data s...,Technical Project Manager/Business Analyst
123,Chicago,Workbridge Associates,"170,000 a","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics
124,Chicago,Workbridge Associates,"180,000 a","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Science
125,Chicago,Selby Jennings,"125,000 - $150,000 a","Equity Research Analyst – Biotech - Chicago, I...","Equity Research Analyst – Biotech - Chicago, IL"
126,Chicago,Jobspring Partners,"60,000 - $120,000 a",NET Visual Studio big data bigdata analytics d...,Mid-Level C# .NET Software Engineer
127,San+Francisco,kWh Analytics,"120,000 a",Experience in weather data is a strong plus. A...,Data Scientist
128,San+Francisco,Workbridge Associates,"120,000 - $165,000 a","Familiarity with data visualization, web analy...",Senior Level Data Scientist
129,San+Francisco,Workbridge Associates,"125,000 - $135,000 a","Experience with big data stack technologies, s...",Mid-Level Data Scientist
130,San+Francisco,MarkMonitor,"180,000 a","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist
131,San+Francisco,Mines.io,"80,000 - $120,000 a",We are looking for a data scientist/developer ...,Full-Stack Data Scientist
132,San+Francisco,Selby Jennings,"160,000 a",Integrate data and control APIs utilzing 3rd p...,Business Intelligence/Data Scientist at VC Bay...
133,San+Francisco,Workbridge Associates,"130,000 - $175,000 a",3+ years as a Data Scientist required. FinTech...,Senior Data Scientist (FinTech)
134,San+Francisco,Workbridge Associates,"120,000 - $150,000 a",There is a small team of Data Engineers and Da...,Mid-Level Data Engineer
135,San+Francisco,Workbridge Associates,"150,000 - $180,000 a",A well-known San Francisco gaming company is l...,Senior Data Scientist
136,San+Francisco,California State University,"50,400 - $60,000 a",Compile and analyze data for written reports a...,"Administrative Analyst/Specialist, Exempt I - ..."
137,San+Francisco,Workbridge Associates,"150,000 - $180,000 a",In this position you will share programming an...,Data Scientist
138,San+Francisco,Smith Hanley Associates,"140,000 a","This person will recruit, build and lead a tea...",Data Scientist
139,San+Francisco,University of California Berkeley,"49,012 a",Concepts in Computing with Data. (On reproduci...,Lecturer - Statistics - Department of Statisti...

In [650]:
dsSalaries2

          0       1  meanSalary
0     92145  141555    116850.0
1     92145  119794    105969.5
2     81878  121525    101701.5
3     43684   84044     63864.0
4    120000  160000    140000.0
5     81878  121525    101701.5
6    108887  141555    125221.0
7     73867   94504     84185.5
8     78687  101385     90036.0
9     47000   47000     47000.0
10   108887  141555    125221.0
11    85000   85000     85000.0
12   120000  165000    142500.0
13    77490  100736     89113.0
14    70819  103042     86930.5
15    65000   65000     65000.0
16   100000  130000    115000.0
17   120000  120000    120000.0
18   108887  141555    125221.0
19   108887  141555    125221.0
20    95000  125000    110000.0
21   128082  160300    144191.0
22   128082  160300    144191.0
23    90000  165000    127500.0
24    92145  141555    116850.0
25    77490  119794     98642.0
26    45000   45000     45000.0
27    59318  119794     89556.0
28   137494  185100    161297.0
29    65572   84611     75091.5
30   128082  160300    144191.0
31    59318  119794     89556.0
32   160300  250000    205150.0
33   100000  130000    115000.0
34   119776  169686    144731.0
35    41835   99296     70565.5
36    92145  119794    105969.5
37   100000  125000    112500.0
38    77490  119794     98642.0
39    50000   50000     50000.0
40   130000  160000    145000.0
41   100000  100000    100000.0
42    43684  100736     72210.0
43   123175  185100    154137.5
44   108887  141555    125221.0
45    92145  119794    105969.5
46    62338  160300    111319.0
47   128082  160300    144191.0
48   130000  160000    145000.0
49   110000  130000    120000.0
50   140000  200000    170000.0
51    47262   61441     54351.5
52    64650  119794     92222.0
53    92145  119794    105969.5
54    92145  141555    116850.0
55    92145  119794    105969.5
56    77490  119794     98642.0
57   100000  130000    115000.0
58   108887  141555    125221.0
59    64650  100736     82693.0
60    92145  119794    105969.5
61   150000  200000    175000.0
62   140000  180000    160000.0
63   100000  130000    115000.0
64   128082  160300    144191.0
65   108887  141555    125221.0
66   128082  160300    144191.0
67    34870   76956     55913.0
68   145000  145000    145000.0
69    38000   50000     44000.0
70    92145  119794    105969.5
71    77490  119794     98642.0
72    92145  119794    105969.5
73   128082  160300    144191.0
74    88305  146570    117437.5
75    55666   84044     69855.0
76    92145  119794    105969.5
77    62010   62010     62010.0
78   108887  141555    125221.0
79   119776  169686    144731.0
80    40000   45000     42500.0
81   108887  141555    125221.0
82    39311   51102     45206.5
83    92145  119794    105969.5
84    92145  141555    116850.0
85   100000  100000    100000.0
86    85000  130000    107500.0
87    92145  119794    105969.5
88    34870   76956     55913.0
89   128082  160300    144191.0
90    60000   95000     77500.0
91    70000   80000     75000.0
92   105000  105000    105000.0
93    71000   71000     71000.0
94    85000   85000     85000.0
95   110000  200000    155000.0
96    80000  110000     95000.0
97   125000  125000    125000.0
98    50000   60000     55000.0
99   120000  160000    140000.0
100  150000  200000    175000.0
101  138300  138300    138300.0
102  100000  140000    120000.0
103  200000  200000    200000.0
104  140000  180000    160000.0
105   95000   95000     95000.0
106  100000  140000    120000.0
107  185000  185000    185000.0
108  110000  150000    130000.0
109  140000  140000    140000.0
110   80000  100000     90000.0
111   70000  110000     90000.0
112   75000   95000     85000.0
113  100000  120000    110000.0
114  165000  165000    165000.0
115   45000   55000     50000.0
116  170000  170000    170000.0
117  120000  120000    120000.0
118   71384   93274     82329.0
119  115000  150000    132500.0
120   80000  100000     90000.0
121  130000  130000    130000.0
122   85000   85000     85000.0
123  170000  170000    170000.0
124  180000  180000    180000.0
125  125000  150000    137500.0
126   60000  120000     90000.0
127  120000  120000    120000.0
128  120000  165000    142500.0
129  125000  135000    130000.0
130  180000  180000    180000.0
131   80000  120000    100000.0
132  160000  160000    160000.0
133  130000  175000    152500.0
134  120000  150000    135000.0
135  150000  180000    165000.0
136   50400   60000     55200.0
137  150000  180000    165000.0
138  140000  140000    140000.0
139   49012   49012     49012.0
140   72364   96934     84649.0
141  150000  150000    150000.0
142   43692   51120     47406.0
143  145000  145000    145000.0
144  115000  145000    130000.0
145  100000  100000    100000.0
146  100000  150000    125000.0
147  200000  200000    200000.0
148  120000  155000    137500.0
149  130000  130000    130000.0
150  110000  180000    145000.0
151  110000  180000    145000.0
152  160000  160000    160000.0
153  140000  200000    170000.0
154   67500   81600     74550.0
155  300000  300000    300000.0
156  150000  175000    162500.0
157  150000  150000    150000.0
158   80000  200000    140000.0
159   75000   95000     85000.0
160  165000  195000    180000.0
161  130000  150000    140000.0
162   65000   65000     65000.0
163  150000  200000    175000.0
164  180000  180000    180000.0
165  117500  127500    122500.0
166   53051  145991     99521.0
167  140000  140000    140000.0
168  150000  150000    150000.0
169  150000  240000    195000.0
170  150000  200000    175000.0
171  170000  200000    185000.0
172   68239   85644     76941.5
173  150000  300000    225000.0
174  150000  150000    150000.0
175  200000  200000    200000.0
176  150000  150000    150000.0
177   38735   40774     39754.5
178     500     500       500.0
179  200000  200000    200000.0
180  136500  136500    136500.0
181  140000  140000    140000.0
182  180000  250000    215000.0
183   64807   85000     74903.5
184  100000  200000    150000.0
185  105000  105000    105000.0
186   68239   75000     71619.5
187   50000   60000     55000.0
188  110000  200000    155000.0
189  130000  130000    130000.0
190   66575   83555     75065.0
191   75243   94834     85038.5
192   24000   56000     40000.0
193  200000  200000    200000.0
194   70000   80000     75000.0
195   68239   83000     75619.5
196   50000   50000     50000.0
197  115000  115000    115000.0
198   61000   62000     61500.0
199   45000   45000     45000.0
200  120000  120000    120000.0
201   41057   61669     51363.0
202  150000  250000    200000.0
203   68239   80000     74119.5
204   40000   50000     45000.0
205   77000   90000     83500.0
206   63765   70142     66953.5
207   50000   60000     55000.0
208  140000  160000    150000.0
209   40000   65000     52500.0
210   60000   90000     75000.0
211   85211  110522     97866.5
212   59250   59250     59250.0
213  120000  160000    140000.0
214  200000  200000    200000.0
215  150000  150000    150000.0
216  100000  200000    150000.0
217  100000  100000    100000.0
218  140000  200000    170000.0
219   68239   85644     76941.5
220   80000  120000    100000.0
221   55000   55000     55000.0
222   51165   51165     51165.0
223   75000   75000     75000.0
224   68239   85644     76941.5
225  100000  100000    100000.0
226   85000  105000     95000.0
227   50000   50000     50000.0
228   40000   50000     45000.0
229   65000   65000     65000.0
230  150000  250000    200000.0
231   57969   70142     64055.5
232   70000  150000    110000.0
233  130000  175000    152500.0
234  200000  300000    250000.0
235   76340  100322     88331.0
236  200000  200000    200000.0
237  115000  200000    157500.0
238   65000   65000     65000.0
239  130000  160000    145000.0
240     788     788       788.0
241   42416   42416     42416.0
242  140000  160000    150000.0
243  175000  275000    225000.0
244   80000  200000    140000.0
245   85211   97993     91602.0
246   68239   85644     76941.5
247   63765   70142     66953.5
248   60000   75000     67500.0
249  140000  140000    140000.0
250  125000  180000    152500.0
251   80000  200000    140000.0
252   70000   80000     75000.0
253   41993   53606     47799.5
254   53051  145991     99521.0
255   57969   70142     64055.5
256   66244   66244     66244.0
257   89575  116453    103014.0
258   61761   91952     76856.5
259   32178   53851     43014.5
260   33010   43098     38054.0
261  110000  110000    110000.0
262   87955  115354    101654.5
263   71152   83721     77436.5
264   71152   83721     77436.5
265   39354   39354     39354.0
266   74566   97794     86180.0
267   44689   58096     51392.5
268   63772   99296     81534.0
269   55000   55000     55000.0
270   87955  115354    101654.5
271   90000   90000     90000.0
272  110000  110000    110000.0
273  160000  180000    170000.0
274  110000  110000    110000.0
275   60000   60000     60000.0
276   95000   95000     95000.0
277  120000  160000    140000.0
278  150000  150000    150000.0
279  200000  200000    200000.0
280  120000  120000    120000.0
281   80000  110000     95000.0
282  110000  125000    117500.0
283  180000  180000    180000.0
284  150000  250000    200000.0
285   36076   46899     41487.5
286  150000  250000    200000.0
287   76341   99243     87792.0
288   71012   99243     85127.5
289   70000   80000     75000.0
290     475     475       475.0
291   93645   93645     93645.0
292   62712   75255     68983.5
293   25000   29000     27000.0
294   43037   68430     55733.5
295   66654   66654     66654.0
296   85000   85000     85000.0
297   66654   66654     66654.0
298  170000  170000    170000.0
299  105000  105000    105000.0
300   42000   45000     43500.0
301   42000   46500     44250.0
302  130000  130000    130000.0
303   65000   90000     77500.0
304   45000   50000     47500.0
305   60000  140000    100000.0
306   43828   56976     50402.0
307  100000  100000    100000.0
308   43828   56976     50402.0
309   90000   90000     90000.0
310  110000  145000    127500.0
311   85000  130000    107500.0
312   92448  142021    117234.5
313  100000  125000    112500.0
314  230000  250000    240000.0
315   56000   70000     63000.0
316  100000  120000    110000.0
317  120000  180000    150000.0
318   90000  130000    110000.0
319  110000  150000    130000.0
320  150000  150000    150000.0
321   64862  120187     92524.5
322  145000  145000    145000.0
323  200000  200000    200000.0
324  120000  150000    135000.0
325   60000   60000     60000.0
326   70000   80000     75000.0
327  130000  150000    140000.0
328  115000  135000    125000.0
329   55000   55000     55000.0
330   75000  130000    102500.0
331  130000  130000    130000.0
332  100000  100000    100000.0
333  110000  150000    130000.0
334   80000  125000    102500.0
335  100000  130000    115000.0
336   80000  200000    140000.0
337  110000  130000    120000.0
338  150000  150000    150000.0
339   32999   45995     39497.0
340  100000  145000    122500.0
341   95000   95000     95000.0
342  109245  160300    134772.5
343   50000   65000     57500.0
344  100000  150000    125000.0
345  120000  140000    130000.0
346   65000   80000     72500.0
347   92448  142021    117234.5
348  165000  165000    165000.0
349   80000  110000     95000.0
350  140000  220000    180000.0
351  110000  140000    125000.0
352  110000  120000    115000.0
353   74260  114802     94531.0
354  110000  200000    155000.0
355   61956   96538     79247.0
356  122744  159572    141158.0
357   60000   60000     60000.0
358  100000  100000    100000.0
359   50794   50794     50794.0
360   52300   52300     52300.0
361   56200   56200     56200.0
362   36000   46000     41000.0
363   33400   33400     33400.0
364  120000  120000    120000.0
365   54182   54182     54182.0
366   65000   65000     65000.0
367  175000  250000    212500.0
368   55000   55000     55000.0
369   30000   39999     34999.5
370   55000   70000     62500.0
371   75000   75000     75000.0
372   80000   80000     80000.0
373  160000  160000    160000.0
374   80000   80000     80000.0
375  135000  135000    135000.0
376  150000  150000    150000.0
377  150000  230000    190000.0
378  140000  140000    140000.0
379   80000   85000     82500.0
380  120000  120000    120000.0
381   61920   81264     71592.0
382  110000  130000    120000.0
383   40000   40000     40000.0
384   70000   90000     80000.0
385  150000  230000    190000.0
386   61920   81264     71592.0
387  100000  150000    125000.0
388  100000  170000    135000.0
389  100000  200000    150000.0
390  150000  230000    190000.0
391   75925   98702     87313.5
392   71510   90646     81078.0
393   63344   82347     72845.5
394   51987   67833     59910.0
395  140000  140000    140000.0
396  140000  160000    150000.0
397  160000  160000    160000.0
398   35000   35000     35000.0
399   37000   45000     41000.0
400   65000   65000     65000.0
401   70000  100000     85000.0
402  160000  160000    160000.0

In [660]:
dfSal = dsSalaries.join(dsSalaries2)
dfSal.drop(['salary', 0, 1], inplace=True)

dfSal

ValueError: labels ['salary'] not contained in axis

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

1799
1798
1798
1798

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now
2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that are not yearly (filter those that refer to hour)

In [ ]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [ ]:
## YOUR CODE HERE

### Save your results as a CSV

In [ ]:
#dfSalary.to_csv('../assets/04-project4-assets/dataScienceSalaries.csv')

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [ ]:
## YOUR CODE HERE

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [ ]:
## YOUR CODE HERE

#### Thought experiment: What is the baseline accuracy for this model?

In [ ]:
## YOUR CODE HERE

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [ ]:
## YOUR CODE HERE

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [ ]:
## YOUR CODE HERE

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [ ]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
## YOUR CODE HERE

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [ ]:
## YOUR CODE HERE