In [201]:
import pandas as pd
from io import StringIO
import requests
from sas7bdat import *

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import databases

In [202]:
df2 = pd.ExcelFile("../assets/capstone-assets/CCRPI/2012 Content Mastery By Subgroups for Public Release.xls")

In [203]:
df2.sheet_names

[u'Appling - Glynn',
 u'Glynn - Carrollton City',
 u'Carrollton City - State Schools']

In [204]:
counties1 = df2.parse('Appling - Glynn')

In [205]:
counties2 = df2.parse('Glynn - Carrollton City')
counties3 = df2.parse('Carrollton City - State Schools')

In [206]:
counties1.columns

Index([u'SCHOOL YEAR', u'SYSTEM ID', u'SYSTEM NAME', u'SCHOOL ID',
       u'SCHOOL NAME', u'GRADE CLUSTER', u'REPORTING CATEGORY',
       u'ASSESSMENT TYPE', u'ASSESSMENT SUBJECT', u'PARTICIPATION RATE',
       u'MEETS & EXCEEDS RATE'],
      dtype='object')

In [207]:
contentMastery12 = pd.concat([counties1, counties2], axis=0)

In [208]:
contentMastery12.reset_index(inplace=True)

In [209]:
contentMastery12.shape

(129998, 12)

In [210]:
counties3.shape

(8002, 11)

In [211]:
contentMastery12 = pd.concat([contentMastery12, counties3], axis=0)

In [212]:
contentMastery12.reset_index(inplace=True)

In [213]:
#drop columns I won't use in this dataframe
contentMastery12.drop(['level_0', 'index'], axis=1, inplace=True)

In [214]:
contentMastery12.columns

Index([u'ASSESSMENT SUBJECT', u'ASSESSMENT TYPE', u'GRADE CLUSTER',
       u'MEETS & EXCEEDS RATE', u'PARTICIPATION RATE', u'REPORTING CATEGORY',
       u'SCHOOL ID', u'SCHOOL NAME', u'SCHOOL YEAR', u'SYSTEM ID',
       u'SYSTEM NAME'],
      dtype='object')

In [215]:
#I also want them in a certain order to make the dataframe more readable
contentMastery12 = contentMastery12[['SCHOOL YEAR','SYSTEM ID','SYSTEM NAME','SCHOOL ID','SCHOOL NAME',
                'GRADE CLUSTER', 'REPORTING CATEGORY', 'ASSESSMENT TYPE', 'ASSESSMENT SUBJECT',
                'PARTICIPATION RATE', 'MEETS & EXCEEDS RATE']]

In [216]:
#clean column names
contentMastery12.rename(columns={'SCHOOL YEAR'         : 'year',
                                 'SYSTEM ID'           : 'sysID',
                                 'SYSTEM NAME'         : 'sysName',
                                 'SCHOOL ID'           : 'schoolID',
                                 'SCHOOL NAME'         : 'schoolName',
                                 'GRADE CLUSTER'       : 'grd',
                                 'REPORTING CATEGORY'  : 'demCat',
                                 'ASSESSMENT TYPE'     : 'assessType',
                                 'ASSESSMENT SUBJECT'  : 'assessSub',
                                 'PARTICIPATION RATE'  : 'partRt',
                                 'MEETS & EXCEEDS RATE': 'MtExcdRt'}, inplace=True)

In [217]:
contentMastery12.head()

,year,sysID,sysName,schoolID,schoolName,grd,demCat,assessType,assessSub,partRt,MtExcdRt
0,2012,601,Appling County,103,Appling County High School,H,ALL Students,EOCT,9th Grade Literature and Composition,99.7,83
1,2012,601,Appling County,103,Appling County High School,H,Asian/Pacific Islander,EOCT,9th Grade Literature and Composition,Too Few Students,Too Few Students
2,2012,601,Appling County,103,Appling County High School,H,Black,EOCT,9th Grade Literature and Composition,100,75
3,2012,601,Appling County,103,Appling County High School,H,Hispanic,EOCT,9th Grade Literature and Composition,100,80.8
4,2012,601,Appling County,103,Appling County High School,H,American Indian/Alaskan,EOCT,9th Grade Literature and Composition,No Data,No Data

In [218]:
user = "postgres:GoOrange"
engine = sqlalchemy.create_engine('postgresql://{}{}'.format(user, '@localhost:5432/ccrpi'))
contentMastery12.to_sql("2012contentMasterySubgroups", con=engine, if_exists = "replace")

In [219]:
df3 = pd.ExcelFile("../assets/capstone-assets/CCRPI/2013 Content Mastery By Subgroups for Public Release.xls")

In [220]:
df3.sheet_names

[u'Appling to Gordon',
 u'Gordon - Decatur City',
 u'Decatur City - State Schools']

In [221]:
counties1 = df3.parse('Appling to Gordon')
counties2 = df3.parse('Gordon - Decatur City')
counties3 = df3.parse('Decatur City - State Schools')

In [222]:
contentMastery13 = pd.concat([counties1, counties2], axis=0)

In [223]:
contentMastery13.reset_index(inplace=True)

In [224]:
contentMastery13.shape

(129998, 12)

In [225]:
contentMastery13 = pd.concat([contentMastery13, counties3], axis=0)

In [226]:
contentMastery13.reset_index(inplace=True)

In [227]:
#drop columns I won't use in this dataframe
contentMastery13.drop(['level_0', 'index'], axis=1, inplace=True)

In [228]:
#I also want them in a certain order to make the dataframe more readable
contentMastery13 = contentMastery13[['SCHOOL YEAR','SYSTEM ID','SYSTEM NAME','SCHOOL ID','SCHOOL NAME',
                'GRADE CLUSTER', 'REPORTING CATEGORY', 'ASSESSMENT TYPE', 'ASSESSMENT SUBJECT',
                'PARTICIPATION RATE', 'MEETS & EXCEEDS RATE']]

In [229]:
#clean column names
contentMastery13.rename(columns={'SCHOOL YEAR'         : 'year',
                                 'SYSTEM ID'           : 'sysID',
                                 'SYSTEM NAME'         : 'sysName',
                                 'SCHOOL ID'           : 'schoolID',
                                 'SCHOOL NAME'         : 'schoolName',
                                 'GRADE CLUSTER'       : 'grd',
                                 'REPORTING CATEGORY'  : 'demCat',
                                 'ASSESSMENT TYPE'     : 'assessType',
                                 'ASSESSMENT SUBJECT'  : 'assessSub',
                                 'PARTICIPATION RATE'  : 'partRt',
                                 'MEETS & EXCEEDS RATE': 'MtExcdRt'}, inplace=True)

In [235]:
contentMastery13.to_sql("2013contentMasterySubgroups", con=engine, if_exists = "replace")

In [236]:
#2014 doesn't have separate sheets in a workbook, so no need for the parsing steps above.
#Just read it in to a single dataframe and skip to the cleaning step
contentMastery14 = pd.read_excel("../assets/capstone-assets/CCRPI/2014 Content Mastery By Subgroup Ammended (2) for Web Page.xlsx")

In [237]:
#clean column names
contentMastery13.rename(columns={'School Year'         : 'year',
                                 'System ID'           : 'sysID',
                                 'System Name'         : 'sysName',
                                 'School ID'           : 'schoolID',
                                 'School Name'         : 'schoolName',
                                 'Grade Cluster'       : 'grd',
                                 'Reporting Category'  : 'demCat',
                                 'Assessment Type'     : 'assessType',
                                 'Assessment Subject'  : 'assessSub',
                                 'Participation Rate'  : 'partRt',
                                 'Meets Exceeds Rate': 'MtExcdRt'}, inplace=True)

In [238]:
contentMastery14.to_sql("2014contentMasterySubgroups", con=engine, if_exists = "replace")

In [239]:
#2015 goes back to multiple sheets, so back to the tedious clean
df4 = pd.ExcelFile("../assets/capstone-assets/CCRPI/2015 Content Mastery By Subgroups 05.03.16.xlsx")

In [240]:
counties1 = df4.parse('Appling - Gordon')
counties2 = df4.parse('Gordon - Atlanta')
counties3 = df4.parse('Atlanta - RTC')

In [241]:
contentMastery15 = pd.concat([counties1, counties2], axis=0)

In [242]:
contentMastery15 = pd.concat([contentMastery15, counties3], axis=0)

In [243]:
contentMastery15.reset_index(inplace=True)

In [244]:
contentMastery15.columns

Index([             u'index',        u'School Year',          u'System Id',
              u'System Name',          u'School Id',        u'School Name',
            u'Grade Cluster', u'Reporting Category',    u'Assessment Type',
       u'Assessment Subject', u'Participation Rate',   u'Proficiency Rate'],
      dtype='object')

In [247]:
#drop columns I won't use in this dataframe
contentMastery15.drop(['index'], axis=1, inplace=True)

In [248]:
#I also want them in a certain order to make the dataframe more readable
contentMastery15 = contentMastery15[['School Year','System Id','System Name','School Id','School Name',
                'Grade Cluster', 'Reporting Category', 'Assessment Type', 'Assessment Subject',
                'Participation Rate', 'Proficiency Rate']]

In [249]:
#clean column names
contentMastery15.rename(columns={'School Year'         : 'year',
                                 'System Id'           : 'sysID',
                                 'System Name'         : 'sysName',
                                 'School Id'           : 'schoolID',
                                 'School Name'         : 'schoolName',
                                 'Grade Cluster'       : 'grd',
                                 'Reporting Category'  : 'demCat',
                                 'Assessment Type'     : 'assessType',
                                 'Assessment Subject'  : 'assessSub',
                                 'Participation Rate'  : 'partRt',
                                 'Proficiency Rate'    : 'MtExcdRt'}, inplace=True)

In [250]:
contentMastery15.to_sql("2015contentMasterySubgroups", con=engine, if_exists = "replace")

In [251]:
#Now let's pull in the indicator tables
indicators12 = pd.read_excel("../assets/capstone-assets/CCRPI/2012 Indicator Rates for Public Release.xls")
indicators13 = pd.read_excel("../assets/capstone-assets/CCRPI/2013 Indicator Rates for Public Release.xls")
indicators14 = pd.read_excel("../assets/capstone-assets/CCRPI/2014 Indicator Score Ammended for Web Page.xlsx")
indicators15 = pd.read_excel("../assets/capstone-assets/CCRPI/2015 CCRPI Indicator Score 07.14.16.xlsx")

In [252]:
# norm naming conventions across all dataframes
#clean column names
indicators12.rename(columns={'SCHOOL YEAR'                : 'year',
                             'SYSTEM ID'                  : 'sysID',
                             'SYSTEM NAME'                : 'sysName',
                             'SCHOOL ID'                  : 'schoolID',
                             'SCHOOL NAME'                : 'schoolName',
                             'INDICATOR ID'               : 'indID',
                             'GRADE CLUSTER'              : 'grd',
                             'INDICATOR DESCRIPTION'      : 'indDesc',
                             'PERFORMANCE RATE'           : 'perfRt',
                             'POINTS EARNED ON INDICATOR' : 'ptsFrmInd'}, inplace=True)

indicators13.rename(columns={'SCHOOL YEAR'                   : 'year',
                             'SYSTEM ID'                     : 'sysID',
                             'SYSTEM NAME'                   : 'sysName',
                             'SCHOOL ID'                     : 'schoolID',
                             'SCHOOL NAME'                   : 'schoolName',
                             'INDICATOR ID'                  : 'indID',
                             'GRADE CLUSTER DESCRIPTION'     : 'grd',
                             'PERFORMANCE INDEX DESCRIPTION' : 'indDesc',
                             'PERFORMANCE'                   : 'perfRt',
                             'POINTS EARNED ON INDICATOR'    : 'ptsFrmInd'}, inplace=True)

indicators14.rename(columns={'School Year'                       : 'year',
                             'System ID'                         : 'sysID',
                             'System Name'                       : 'sysName',
                             'School ID'                         : 'schoolID',
                             'School Name'                       : 'schoolName',
                             'Indicator ID'                      : 'indID',
                             'Grade Cluster '                    : 'grd',
                             'Performance Index Description'     : 'indDesc',
                             'Performance'                       : 'perfRt',
                             'Points Earned on Indicator'        : 'ptsFrmInd'}, inplace=True)

indicators15.rename(columns={'School Year'                       : 'year',
                             'System ID'                         : 'sysID',
                             'System Name'                       : 'sysName',
                             'School ID'                         : 'schoolID',
                             'School Name'                       : 'schoolName',
                             'Indicator ID'                      : 'indID',
                             'Grade Cluster '                    : 'grd',
                             'Performance Index Description'     : 'indDesc',
                             'Performance'                       : 'perfRt',
                             'Points Earned on Indicator'        : 'ptsFrmInd'}, inplace=True)

In [253]:
indicators12.to_sql("ccrpiIndicators12", con=engine, if_exists = "replace")
indicators13.to_sql("ccrpiIndicators13", con=engine, if_exists = "replace")
indicators14.to_sql("ccrpiIndicators14", con=engine, if_exists = "replace")
indicators15.to_sql("ccrpiIndicators15", con=engine, if_exists = "replace")

In [254]:
#Finally, repeat process for Component Score Tables
componentScores12 = pd.read_excel("../assets/capstone-assets/CCRPI/2012 Scoring By Component for Public Release.xls")
componentScores13 = pd.read_excel("../assets/capstone-assets/CCRPI/2013 Scoring By Component for Public Release v2.xls")
componentScores14 = pd.read_excel("../assets/capstone-assets/CCRPI/2014 CCRPI Scoring by Component.03.10.2016.xls")
componentScores15 = pd.read_excel("../assets/capstone-assets/CCRPI/2015 CCRPI Scoring By Component 07.14.16.xlsx")

In [255]:
componentScores12.rename(columns={'SCHOOL YEAR'                : 'year',
                                  'SYSTEM ID'                  : 'sysID',
                                  'SYSTEM NAME'                : 'sysName',
                                  'SCHOOL ID'                  : 'schoolID',
                                  'SCHOOL NAME'                : 'schoolName',
                                  'GRADE CLUSTER'              : 'grd',
                                  'ACHIEVEMENT POINTS'         : 'achvmntPts',
                                  'PROGRESS POINTS'            : 'prgPts',
                                  'ACHIEVEMENT GAP POINTS'     : 'achvmntGapPts',
                                  'ED/EL/SWD PERFORMANCE'      : 'disStdntPerf',
                                  'ETB POINTS'                 : 'etbPts',
                                  'CHALLENGE POINTS'           : 'chlngPts',
                                  'CCRPI SCORE'                : 'ccrpi',
                                  'SINGLE SCORE'               : 'singScore',}, inplace=True)

componentScores13.rename(columns={'SCHOOL YEAR'                : 'year',
                                  'SYSTEM ID'                  : 'sysID',
                                  'SYSTEM NAME'                : 'sysName',
                                  'SCHOOL ID'                  : 'schoolID',
                                  'SCHOOL NAME'                : 'schoolName',
                                  'GRADE CLUSTER'              : 'grd',
                                  'ACHIEVEMENT POINTS'         : 'achvmntPts',
                                  'PROGRESS POINTS'            : 'prgPts',
                                  'ACHIEVEMENT GAP POINTS'     : 'achvmntGapPts',
                                  'ED/EL/SWD PERFORMANCE'      : 'disStdntPerf',
                                  'ETB POINTS'                 : 'etbPts',
                                  'CHALLENGE POINTS'           : 'chlngPts',
                                  'CCRPI SCORE'                : 'ccrpi',
                                  'SINGLE SCORE'               : 'singScore',}, inplace=True)

componentScores14.rename(columns={'School Year'                : 'year',
                                  'System Id'                  : 'sysID',
                                  'System Name'                : 'sysName',
                                  'School Id'                  : 'schoolID',
                                  'School Name'                : 'schoolName',
                                  'Grade Configuration'        : 'grdConfig',
                                  'Grade Cluster'              : 'grd',
                                  'Achievement Points'         : 'achvmntPts',
                                  'Progress Points'            : 'prgPts',
                                  'Achievement Gap Points'     : 'achvmntGapPts',
                                  'ED/EL/SWD Performance'      : 'disStdntPerf',
                                  'ETB Points'                 : 'etbPts',
                                  'Challenge Points'           : 'chlngPts',
                                  'CCRPI Score'                : 'ccrpi',
                                  'Single Score'               : 'singScore',}, inplace=True)

componentScores15.rename(columns={'School Year'                : 'year',
                                  'System Id'                  : 'sysID',
                                  'System Name'                : 'sysName',
                                  'School Id'                  : 'schoolID',
                                  'School Name'                : 'schoolName',
                                  'Grade Configuration'        : 'grdConfig',
                                  'Grade Cluster'              : 'grd',
                                  'Achievement Points'         : 'achvmntPts',
                                  'Progress Points'            : 'prgPts',
                                  'Achievement Gap Points'     : 'achvmntGapPts',
                                  'ED/EL/SWD Performance'      : 'disStdntPerf',
                                  'ETB Points'                 : 'etbPts',
                                  'Challenge Points'           : 'chlngPts',
                                  'CCRPI Score'                : 'ccrpi',
                                  'Single Score'               : 'singScore',}, inplace=True)

In [256]:
componentScores12.to_sql("componentScores12", con=engine, if_exists = "replace")
componentScores13.to_sql("componentScores13", con=engine, if_exists = "replace")
componentScores14.to_sql("componentScores14", con=engine, if_exists = "replace")
componentScores15.to_sql("componentScores15", con=engine, if_exists = "replace")

In [257]:
url = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2015_Mar292016.csv'
a=requests.get(url).text

schoolExpenses15=pd.read_csv(StringIO(a), low_memory=False)

url2 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2014_Jan_15th_2015.csv'
b=requests.get(url2).text

schoolExpenses14=pd.read_csv(StringIO(b), low_memory=False)

url3 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2013_Jan_15th_2015.csv'
c=requests.get(url3).text

schoolExpenses13=pd.read_csv(StringIO(c), low_memory=False)

url4 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Revenues_and_Expenditures_2012_Jan_15th_2015.csv'
d=requests.get(url4).text

schoolExpenses12=pd.read_csv(StringIO(d), low_memory=False)

In [266]:
schoolExpenses15.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent'}, inplace=True)

schoolExpenses14.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_Count'             : 'totStudents'}, inplace=True)

schoolExpenses13.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_Count'             : 'totStudents'}, inplace=True)

schoolExpenses12.rename(columns={'SCHOOL_YEAR'           : 'year',
                                 'DISTRICT_CODE'         : 'sysID',
                                 'DISTRICT_NAME'         : 'sysName',
                                 'SCHOOL_CODE'           : 'schoolID',
                                 'SCHOOL_NAME'           : 'schoolName',
                                 'Revenues/Expenditures' : 'revExp', 
                                 'Description'           : 'descr',
                                 'REV_EXP_VALUE'         : 'revExpVal',
                                 'Dollars per FTE'       : 'expPerStudent',
                                 'FTE_COUNT'             : 'totStudents'}, inplace=True)

In [269]:
#drop columns I won't use in this dataframe
schoolExpenses12.drop(['revExp'], axis=1, inplace=True)
schoolExpenses13.drop(['revExp'], axis=1, inplace=True)
schoolExpenses14.drop(['revExp'], axis=1, inplace=True)
schoolExpenses15.drop(['revExp'], axis=1, inplace=True)

In [271]:
schoolExpenses12.to_sql("schoolExpenses12", con=engine, if_exists = "replace")
schoolExpenses13.to_sql("schoolExpenses13", con=engine, if_exists = "replace")
schoolExpenses14.to_sql("schoolExpenses14", con=engine, if_exists = "replace")
schoolExpenses15.to_sql("schoolExpenses15", con=engine, if_exists = "replace")

In [299]:
schoolLocs = pd.read_excel("../assets/capstone-assets/CCRPI/schoolLocationsBasicDemos.xls")

In [301]:
schoolLocs.drop(['NCES School ID', 'NCES District ID', 'Low Grade*', 'High Grade*',
                'ZIP 4-digit', 'Locale*', 'Title 1 School Wide*', 'Teachers*',
                 'Students*'], axis=1, inplace=True)

In [303]:
schoolLocs.rename(columns={'State School ID'        : 'schoolID',
                           'State District ID'      : 'sysID',
                           'School Name'            : 'schoolName',
                           'District'               : 'sysName',
                           'County Name*'           : 'county',
                           'Street Address'         : 'street',
                           'City'                   : 'city',
                           'State'                  : 'state',
                           'ZIP'                    : 'zip',
                           'Locale Code*'           : 'locClass',
                           'Charter'                : 'chrtr',
                           'Title I School*'        : 'titleI', 
                           'Student Teacher Ratio*' : 'stdTchRatio', 
                           'Free Lunch*'            : 'freeLnch',
                           'Reduced Lunch*'         : 'reducedLnch'}, inplace=True)

In [305]:
schoolLocs.to_sql("schoolLocs", con=engine, if_exists = "replace")

In [314]:
url5 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2015_Mar292016.csv'
e=requests.get(url5).text

distSals15=pd.read_csv(StringIO(e), low_memory=False)

url6 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2014_Jan_15th_2015.csv'
f=requests.get(url6).text

distSals14=pd.read_csv(StringIO(f), low_memory=False)

url7 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2013_Jan_15th_2015.csv'
g=requests.get(url7).text

distSals13=pd.read_csv(StringIO(g), low_memory=False)

url8 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Salaries_and_Benefits_2012_Jan_15th_2015.csv'
h=requests.get(url8).text

distSals12=pd.read_csv(StringIO(h), low_memory=False)

In [322]:
distSals12.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals13.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals14.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

distSals15.rename(columns={'LONG_SCHOOL_YEAR'        : 'year',
                           'SCHOOL_DSTRCT_CD'        : 'sysID',
                           'SCHOOL_DSTRCT_NM'        : 'sysName',
                           'INSTN_NUMBER'            : 'schoolID',
                           'INSTN_NAME'              : 'schoolName',
                           'CATEGORY'                : 'jobClass',
                           'SALARIES'                : 'salaries',
                           'BENEFITS'                : 'benefits',
                           'SALARIES_AND_BENEFITS'   : 'salBenSum',
                           '% Rev- GF/Title/Lottery' : 'pctRevGFTitleLot',
                           '% Rev- Total K-12'       : 'pctRevK12',
                           '% Exp- GF/Title/Lottery' : 'pctExpGFTitleLot',
                           '% Exp-Total K-12'        : 'pctExpK12'}, inplace=True)

In [323]:
#These are just by districts, so these would be good for some EDA, but not in building models
distSals15.to_sql("distSals15", con=engine, if_exists = "replace")
distSals14.to_sql("distSals14", con=engine, if_exists = "replace")
distSals13.to_sql("distSals13", con=engine, if_exists = "replace")
distSals12.to_sql("distSals12", con=engine, if_exists = "replace")

In [324]:
#Now get teacher/administrator experience levels
url9 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2015_Mar292016.csv'
i=requests.get(url9).text

staffExp15=pd.read_csv(StringIO(i), low_memory=False)

url10 = 'http://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2014_Jan_15th_2015.csv'
j=requests.get(url10).text

staffExp14=pd.read_csv(StringIO(j), low_memory=False)

url11 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2013_Jan_15th_2015.csv'
k=requests.get(url11).text

staffExp13=pd.read_csv(StringIO(k), low_memory=False)

url12 = 'https://gosa.georgia.gov/sites/gosa.georgia.gov/files/related_files/site_page/Certified_Personnel_Data_2012_Jan_15th_2015.csv'
l=requests.get(url12).text

staffExp=pd.read_csv(StringIO(l), low_memory=False)

In [336]:
staffExp12 = staffExp

In [338]:
staffExp15.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp14.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp13.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

staffExp12.rename(columns={'LONG_SCHOOL_YEAR'  : 'year',
                           'SCHOOL_DSTRCT_CD'  : 'sysID',
                           'SCHOOL_DSTRCT_NM'  : 'sysName',
                           'INSTN_NUMBER'      : 'schoolID',
                           'INSTN_NAME'        : 'schoolName',
                           'DATA_CATEGORY'     : 'expLevel',
                           'DATA_SUB_CATEGORY' : 'expLevelClass',
                           'EMPLOYEE_TYPE'     : 'staffClass',
                           'MEASURE'           : 'totStaff'}, inplace=True)

In [339]:
staffExp12.to_sql("staffExp12", con=engine, if_exists = "replace")
staffExp13.to_sql("staffExp13", con=engine, if_exists = "replace")
staffExp14.to_sql("staffExp14", con=engine, if_exists = "replace")
staffExp15.to_sql("staffExp15", con=engine, if_exists = "replace")

In [342]:
#Read in excel on school discipline for 2015
schoolDisc15 = pd.read_excel("../assets/capstone-assets/CCRPI/sr2015_discipline_action_counts_sch.xls")

In [344]:
schoolDisc15.columns = [x.lower() for x in schoolDisc15.columns]

In [348]:
schoolDisc15.rename(columns={'school_year': 'year',
                             'system_id'  : 'sysID',
                             'system_name': 'sysName', 
                             'school_id'  : 'schoolID',
                             'school_name': 'schoolName'}, inplace=True)

In [350]:
schoolDisc15.to_sql("schoolDisc15", con=engine, if_exists = "replace")