## Project 6

In [1]:
import os
import subprocess
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import scipy
import requests
from imdbpie import Imdb
import nltk
from nltk.tokenize import RegexpTokenizer
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import collections
from collections import Counter
import re
import csv
import psycopg2

%matplotlib inline

### Pre-Work: Write a problem statement

## Part 1: Acquire the Data

#### 1. Connect to the IMDB API

In [2]:
imdb = Imdb()
imdb = Imdb(anonymize=True)

#### 2. Query the top 250 rated movies in the database

In [3]:
top250 = imdb.top_250()

In [4]:
top250 = pd.DataFrame(top250)

#### 4. Write the Results to a csv

In [5]:
top250.head()

,can_rate,image,num_votes,rating,tconst,title,type,year
0,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1677125,9.3,tt0111161,The Shawshank Redemption,feature,1994
1,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1147488,9.2,tt0068646,The Godfather,feature,1972
2,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,784568,9.0,tt0071562,The Godfather: Part II,feature,1974
3,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1662425,9.0,tt0468569,The Dark Knight,feature,2008
4,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,858289,8.9,tt0108052,Schindler's List,feature,1993

In [6]:
top250.drop(['can_rate', 'image', 'type'], axis =1 ,inplace=True)

## Part 2: Wrangle the text data

#### 2. Scrape the reviews for the top 25 movies

*Hint*: Use a loop to scrape each page at once

In [7]:
movieID = top250.tconst.values.tolist()

In [8]:
reviews = []
ids = []
for x in movieID:
    review = imdb.get_title_reviews(x, max_results=15)
    for i in review:
        ids.append(x)
        reviews.append(i.text)

#### 3. Work through each title and find the most common descriptors

In [9]:
reviewData = pd.DataFrame({"movieID": ids, "reviews": reviews})

In [35]:
reviewData.head()

     movieID                                            reviews
0  tt0111161  Why do I want to write the 234th comment on Th...
1  tt0111161  \nCan Hollywood, usually creating things for e...
2  tt0111161  \nI have never seen such an amazing film since...
3  tt0111161  In its Oscar year, Shawshank Redemption (writt...
4  tt0111161  The reason I became a member of this database ...

In [15]:
#tokenizer = RegexpTokenizer('\w+|\$[\d\.]+|\S+')
tokens = [nltk.word_tokenize(review) for review in reviews]

In [16]:
posTokens = [nltk.tag.pos_tag(token) for token in tokens]

In [17]:
adjList = []
for x in posTokens:
    # each x is either a list of (word, POS tag) tuples
    for word, pos in x:
        if pos in ['JJ', 'JJS', 'JJR']: # feel free to add any other tags you may be looking for
            adjList.append(word)

In [18]:
commonAdj= [a for a, b in Counter(adjList).most_common(50)]

In [19]:
dfCommonAdj = pd.DataFrame(columns=commonAdj)
dfCommonAdj

Empty DataFrame
Columns: [great, best, other, good, many, first, more, such, most, own, same, real, few, much, new, old, true, last, young, bad, different, classic, beautiful, whole, big, brilliant, original, greatest, only, better, second, wonderful, least, little, long, human, powerful, top, acting, special, main, final, funny, important, full, later, emotional, simple, entire, memorable]
Index: []

[0 rows x 50 columns]

In [20]:
reviewDataCopy = pd.DataFrame(reviewData)
reviewDataCopy = reviewDataCopy.join(dfCommonAdj)

In [21]:
for c, col in enumerate(reviewDataCopy.columns[2:]):
    for r, row in enumerate(reviewDataCopy.index):
        reviewLower = reviewDataCopy.loc[row,"reviews"].lower()
        if (col in reviewLower):
            reviewDataCopy.loc[row,col] = 1
        else:
            reviewDataCopy.loc[row,col] = 0

,movieID,reviews,great,best,other,good,many,first,more,such,...,main,final,funny,important,full,later,emotional,simple,entire,memorable
0,tt0111161,Why do I want to write the 234th comment on Th...,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,tt0111161,"\nCan Hollywood, usually creating things for e...",1,1,1,0,1,0,1,1,...,1,0,0,1,1,0,1,0,0,0
2,tt0111161,\nI have never seen such an amazing film since...,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
3,tt0111161,"In its Oscar year, Shawshank Redemption (writt...",0,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,1,0,0
4,tt0111161,The reason I became a member of this database ...,1,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0
5,tt0111161,\nI believe that this film is the best story e...,1,1,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,tt0111161,\nOne of my all time favorites. Shawshank Rede...,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
7,tt0111161,\nOne of the finest films made in recent years...,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8,tt0111161,Misery and Stand By Me were the best adaptatio...,1,1,0,1,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
9,tt0111161,\nThe Shawshank Redemption is without a doubt ...,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,tt0111161,This movie is not your ordinary Hollywood flic...,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
11,tt0111161,\nWhenever I talk about this movie with my fri...,1,0,1,1,1,1,0,0,...,1,1,1,0,0,0,0,0,1,0
12,tt0111161,I'm trying to save you money; this is the last...,1,1,1,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
13,tt0111161,The Shawshank Redemption is written and direct...,1,0,1,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
14,tt0111161,At the heart of this extraordinary movie is a ...,1,1,1,1,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
15,tt0068646,Rather than concentrating on everything that i...,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
16,tt0068646,\nThis is by far the best movie ever to give a...,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,tt0068646,\nThe Godfather is one of the few films in whi...,0,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,0,0,0
18,tt0068646,"\n This movie is strong, good script, grea...",1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
19,tt0068646,\nThe Godfather is one of the very few films t...,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
20,tt0068646,This is a masterpiece. A timeless masterpiece....,1,0,1,1,1,0,1,0,...,0,0,0,0,0,0,0,1,1,0
21,tt0068646,This must rank as the best film (along with pa...,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
22,tt0068646,'The Godfather' is the pinnacle of flawless fi...,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,1
23,tt0068646,I love this movie and all of the GF movies. I ...,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,tt0068646,The godfather trilogy is an exclusive set of m...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,tt0068646,"Marlon Brando is Don Vito Corleone, head of pe...",1,0,1,1,1,1,1,0,...,1,0,0,1,1,0,0,0,0,0
26,tt0068646,\nEngrossing motion picture that features some...,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,tt0068646,"""The Godfather"" is a huge piece of film entert...",0,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
28,tt0068646,"""The Godfather"" simply put, is one of the grea...",1,1,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
29,tt0068646,"\nBefore 'The Godfather' came out in 1972, the...",1,1,1,1,0,1,1,1,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,tt0118694,\nI think that New York Times film critic Elvi...,0,1,1,0,0,1,1,0,...,1,0,0,0,1,0,0,0,0,0
3721,tt0118694,\nIt's easy to see why many people consider In...,0,1,1,0,1,1,1,1,...,0,0,0,0,1,0,1,1,1,0
3722,tt0118694,"In 60s Hong Kong, a man and woman move in the ...",0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3723,tt0118694,\nI was recommended this film as one of the be...,0,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3724,tt0118694,"I won't bore you with story and plot lines, as...",0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3725,tt0118694,"\nWhen I fist watched the movie, I said to mys...",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3726,tt0118694,"\nWARNING: SPOILER,SPOILER,SPOILER!!!!\n\nThis...",0,0,1,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3727,tt0118694,Two people living in the same flat complex fin...,0,0,1,0,0,0,1,0,...,1,0,0,0,1,1,1,0,0,0
3728,tt0118694,\nThe most attractive factor that lies in this...,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3729,tt0118694,\nBeautiful film set in 1962 Hong Kong about a...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3730,tt0118694,"Set in 1962 Hong Kong (in turbulent times, as ...",0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3731,tt0118694,"In Hong Kong, 1962, the editor Chow Mo-wan (To...",0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3732,tt0118694,\nSpoilers herein.\n\nStart with your typical ...,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
3733,tt0118694,\nit is indeed a poem!\n\ni'm aware of the fac...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3734,tt0118694,"Whoa To be honest, I would have never seen th...",1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3735,tt0169102,"\nOkay, I am not from India, not even close. I...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3736,tt0169102,"In 1893, India was a colony of England. The st...",0,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
3737,tt0169102,\nThis movie not only opened my eyes to the b...,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3738,tt0169102,\nSony Entertainment's Lagaan is more an exper...,0,0,1,0,1,1,1,1,...,1,1,0,0,1,0,0,1,1,0
3739,tt0169102,\nThis was my first full-fledged trip into Bol...,0,0,1,0,1,1,0,1,...,0,0,0,0,1,0,1,0,0,0
3740,tt0169102,LAGAAN (4+ outta 5 stars) Years of subjugation...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3741,tt0169102,The setting is historical The year is 1893 T...,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3742,tt0169102,\nI initially gave this movie a miss after I w...,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3743,tt0169102,\nInitially I was warned about the length of t...,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3744,tt0169102,This is actually the first ever film I have se...,0,1,1,1,1,1,1,0,...,0,0,0,0,1,0,0,0,1,0
3745,tt0169102,\n1893. In a small farming community in India...,0,0,1,1,1,1,0,0,...,1,1,1,1,0,0,0,0,0,0
3746,tt0169102,It is seldom in this modern era of IT generati...,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3747,tt0169102,You can add the name of Ashutosh Gowatrikar to...,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3748,tt0169102,"Magnificent, what else shall I say? I first sa...",0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
3749,tt0169102,\nI saw this in a Paris cinema on a Sunday aft...,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
reviewDataCopy.drop(['reviews'], axis =1 ,inplace=True)

In [23]:
reviewDataCopy.head()

,movieID,great,best,other,good,many,first,more,such,most,...,main,final,funny,important,full,later,emotional,simple,entire,memorable
0,tt0111161,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,tt0111161,1,1,1,0,1,0,1,1,1,...,1,0,0,1,1,0,1,0,0,0
2,tt0111161,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
3,tt0111161,0,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,1,0,0
4,tt0111161,1,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [29]:
reviewDataCopy = reviewDataCopy.groupby(["movieID"], group_keys=False, as_index=False).apply(lambda x: x.iloc[:,1:].max())

In [25]:
top250=top250.rename(columns = {'tconst':'movieID'})
top250.head()

   num_votes  rating    movieID                     title  year
0    1677125     9.3  tt0111161  The Shawshank Redemption  1994
1    1147488     9.2  tt0068646             The Godfather  1972
2     784568     9.0  tt0071562    The Godfather: Part II  1974
3    1662425     9.0  tt0468569           The Dark Knight  2008
4     858289     8.9  tt0108052          Schindler's List  1993

In [26]:
top250 = top250[['movieID', 'year','title', 'rating', 'num_votes']]
top250.head()

     movieID  year                     title  rating  num_votes
0  tt0111161  1994  The Shawshank Redemption     9.3    1677125
1  tt0068646  1972             The Godfather     9.2    1147488
2  tt0071562  1974    The Godfather: Part II     9.0     784568
3  tt0468569  2008           The Dark Knight     9.0    1662425
4  tt0108052  1993          Schindler's List     8.9     858289

In [31]:
moviesDf = top250.join(reviewDataCopy)

In [33]:
top250.to_csv('../assets/06-project6-assets/data/top250.csv', encoding='utf8', index=False)

In [34]:
reviewDataCopy.to_csv('../assets/06-project6-assets/data/reviewData.csv', encoding='utf8', index=False)

In [ ]:
moviesDf.to_csv('../assets/06-project6-assets/data/moviesDf.csv', encoding='utf8', index=False)

#### 9. Repeat the process for the other top 24 titles

## Part 3: Combine Tables in PostgreSQL

#### 1. Import your two .csv data files into your Postgre Database as two different tables

For ease, we can call these table1 and table2

#### 2. Connect to database and query the joined set

#### 3. Join the two tables

#### 4. Select the newly joined table and save two copies of the into dataframes

## Part 4: Parsing and Exploratory Data Analysis

#### 1. Rename the column headings

#### 2. Run a description of the data

#### 3. Visualize the Data

## Part 3: Build the Decision Tree

#### 1. What is our target attribute?

#### 2. Prepare the data and define the training set

#### 2. Train the Model

#### 3. Set up test data and test the model

#### 5. Check the results

#### 6. What is overfitting and how are we at risk?