In [2]:
# import modules

import pandas as pd
import numpy as np

In [3]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# select the preTestScore column
preTestScore = df['preTestScore']

preTestScore

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [5]:
# find the standard deviation of preTestScore
#np.std() is population standard deviation and 'column'.std() gives you the sample standard deviation
preTestScore.std()

13.663820841916802

In [15]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
mean = np.mean(preTestScore)
print mean

12.8

In [7]:
# select the rows in preTestScore with scores greater than the mean
highScore = [x for x in preTestScore if x > np.mean(preTestScore)]

print highScore

[24, 31]

In [25]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
postTestScore = df['postTestScore']
preTestScore = df['preTestScore']


scoreDifference = postTestScore - preTestScore

df['Score Difference'] = pd.Series(scoreDifference)

df

#df['Score Difference'] = df.postTestScore - df.preTestScore

df['Difference 3'] = df.preTestScore*2

df.insert(2,'Difference 9',df.preTestScore*2)
#df.insert(index, 'column name', value(in this case it's just an equation that produces a value))

df

,name,age,Difference 9,Difference 4,preTestScore,postTestScore,Score Difference,Difference 3,f,r
0,Jason,42,8,8,4,25,21,8,8,8
1,Molly,52,48,48,24,94,70,48,48,48
2,Tina,36,62,62,31,57,26,62,62,62
3,Jake,24,4,4,2,62,60,4,4,4
4,Amy,73,6,6,3,70,67,6,6,6